{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }} <li><a href="#">Корзина</a></li>
{% endblock %}
{% load static %}
{% block head %}
    <title>Ваш предворительный заказ</title>
    <meta name="title" content="Предварительный заказ">
    <meta name="description" content="Richo, Duplo, Konica Minolta, ColorWay - Купить в Николаеве, интернет-магазин Ортен ★ Ортен более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}
{% block content %}
<section class="main-container">
	<aside>
        <div class="header-for-block"><i class="fas fa-info-circle"></i>Информация</div>
            <div class="accordion">
                
            </div>
	</aside>
	<main>
		<div lass="header-for-block"><i class="fas fa-truck-loading"></i>ВАШ ЗАКАЗ</div>
            <div class="content">
                    <div class="cart_list">
                        <span class="s"><strong>Фото</strong></span>
                        <span class="s"><strong>Бренд</strong></span>
                        <span class="s"><strong>Название</strong></span>
                        <span class="s"><strong>Артикул</strong></span>
                        <span class="s"><strong>Цена ₴</strong></span>
                        <span class="s"><strong>Количество</strong></span>
                        <span class="s"><strong>Сумма</strong></span>
                        <span class="s"><strong>Удалить</strong></span>
                        <!-- динамический контент -->
                        {% for item in cart %}
						{% with product=item.product %}
                        <span class="s-1"><a class="thumbnail pull-left" href="{% url 'shop:product_detail' product.slug %}"> <img src="{% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" style="width: 72px; height: 72px;"></a></span>
                        <span class="s-2"><b>Бренд: </b>{{ product.vendor }}</span>
                        <span class="s-3"><b>Название: </b><a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a></span>
                        <span class="s-4"><b>Артикул: </b>{{ product.vendor_code }}</span>
                        <span class="s-6"><b>Цена: </b>
						{% if product.action %}
			            {{ product.discount }}
				        {% else %}
				            {{ product.price }}
				        {% endif %}
                        </span>
                        <span class="foot_card_quantity"><b>Количество: </b>
                            <form action="{% url "cart:cart_add" product.id %}" method="post" class="add">
				           {{ item.update_quantity_form.quantity }}
				           {{ item.update_quantity_form.update }}
				           {% csrf_token %}
                            <button type="submit" class="plas"><i class="fab fa-get-pocket"></i></button>
                            </form>
                        </span>
                        <span class="s-2"><b>Сумма: </b>{{ item.total_price }}</span>
                        <span class="s-2"><b>Удалить: </b>
						<a href="{% url 'cart:cart_remove' product.id %}">
                        <button class="minus"><i class="fas fa-trash-alt"></i></button>
                        </a>
                        </span>
						{% endwith %}
					    {% endfor %}
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span>Общая сумма: </span>
                        <span><h4>{{ cart.get_total_price }}</h4></span>
                </div>
            </div>
            <div class="cart_button">
                <a href="{% url 'shop:product_list' %}">
                <button style="float:left;" class="return">Вернуться к товарам</button>
                </a>
                <a href="{% url 'order:order_create' %}">
                <button style="float:right;" class="apply">Оформить заказ</button>
                </a>
            </div>
	</main>
</section>
{% endblock %}