Django==2.1.4
django-bootstrap4==0.0.7
django-debug-toolbar==1.11
django-filter==2.0.0
django-formtools==2.1
django-import-export==1.1.0
django-mptt==0.9.1
Pillow==5.3.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pytz==2018.7
