<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p>В настоящее время использование визиток получило широкое распространение. В переводе с английского
                визитка (business card) означает "деловая карточка". При этом визитки могут использоваться для разных
                целей и выполнять различные функции. В традиционной классификации визитки делят на личные, деловые,
                корпоративные и рекламные.</p>
            <p>Мы печатаем визитки от 100 шт. цифрового качества на мелованой бумаге, визиточном картоне, ламинированные
                матовые или глянцевые, офсетным способом от 1000 шт. на мелованной бумаге до 350 г/м2, с глянцевой или
                матовой ламинацией с одной или с двух сторон, а так же с односторонним гибридным уф-лаком.</p>
            <p>Визитки отпечатанные на цифровом лазерном принтере цветностью 4+0/4+4</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12" style="overflow-x: auto;">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Тираж/Материал</td>
                        <td>Матовая меловка 300 г/м2</td>
                        <td>Визиточный картон</td>
                        <td>100 микрон глянец. лам.</td>
                        <td>100 микрон матовая лам.</td>
                        <td>250 микрон глянец. лам.</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>100 шт.</td>
                        <td>130,00 ₴/210,00 ₴ </td>
                        <td>200,00 ₴/280,00 ₴</td>
                        <td>180,00 ₴/260,00 ₴ </td>
                        <td>240,00 ₴/300,00 ₴ </td>
                        <td>330,00 ₴/410,00 ₴ </td>
                    </tr>
                </tbody>
            </table>
            <p> *изготовления оригинал макета в стоимость не входит и рассчитывается индивидуально</p>
        </div>
    </div>
    <p>Рекламные визитки, офсетная печать 4+0(4+4), бумага матовая меловка 350 г/м2 </p>
    <div class="row">
        <div class="col-sm-12 col-md-12" style="overflow-x: auto;">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Тираж/Материал</td>
                        <td>Эконом, защитный лак</td>
                        <td>Стандарт, 1+0 гл. лам.</td>
                        <td>Глянец, 1+1 гл. лам.</td>
                        <td>Матовая, 1+0 мат лам.</td>
                        <td>Матовая, 1+1 мат лам.</td>
                        <td>Гибрид, 1+0 лам.</td>
                        <td>Люкс, защитный лак</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>500 шт.</td>
                        <td>250 ₴ </td>
                        <td>300 ₴</td>
                        <td>325 ₴ </td>
                        <td>320 ₴ </td>
                        <td>330 ₴ </td>
                        <td>360 ₴ </td>
                        <td>320 ₴ </td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>1000 шт.</td>
                        <td>300 ₴ </td>
                        <td>350 ₴</td>
                        <td>415 ₴ </td>
                        <td>360 ₴ </td>
                        <td>430 ₴ </td>
                        <td>510 ₴ </td>
                        <td>370 ₴ </td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>2500 шт.</td>
                        <td>750 ₴ </td>
                        <td>885 ₴</td>
                        <td>1040 ₴ </td>
                        <td>900 ₴ </td>
                        <td>1080 ₴ </td>
                        <td>1280 ₴ </td>
                        <td>710 ₴ </td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>5000 шт.</td>
                        <td>1100 ₴ </td>
                        <td>1330 ₴</td>
                        <td>1635 ₴ </td>
                        <td>1370 ₴ </td>
                        <td>1720 ₴ </td>
                        <td>1950 ₴ </td>
                        <td>1350 ₴ </td>
                    </tr>
                </tbody>
            </table>
            <p> *изготовления оригинал макета в стоимость не входит и рассчитывается индивидуально</p>
            <p> ** Стоимость продукции можно уменьшить за счет увеличения срока печати до 6 рабочих дней</p>
        </div>
    </div>
</div>