<aside>
    <div class="header-for-block">
        <i class="fas fa-filter"></i>Фильтры
    </div>
        <div class="accordion">
            <div class="filters">
                <form method="get">
                    <div class="min_max">
                        {{filterset.form.price__gt}}
                        {{filterset.form.price__lt}}
                    </div>
                    <div>
                        {{filterset.form.ordering}}                           
                    </div>
                    <div>
                        {{filterset.form.category}}
                    </div>
                    <div>
                        {{filterset.form.vendor}}
                    </div>
                    <div>
                        {{filterset.form.type_service}}
                    </div>
                    <div>
                        {{filterset.form.type_product}}
                    </div>
                    <div>
                        {{filterset.form.format_fild}}
                    </div>
                    <div>
                        {{filterset.form.color_fild}}
                    </div>
                    <div>
                        {{filterset.form.available}}
                    </div>
                    {% if search %}
                        <div>
                            <label class="sr-only" for="search"></label>
                            <input type="text" autocomplete="on" value="{{search}}" name="search" class="search" placeholder="Search.." id="search">
                        </div>
                    {% endif %}
                    <div class="form-footer">
                        <input class="apply" type="submit"></input>
                        <input class="reset" type="reset"></input>
                        <!-- Фильтр<i class="fas fa-filter"></i>
                        Сброс<i class="fas fa-redo-alt pl-2"></i> -->
                    </div>
                </form>
            </div>
        </div>
</aside>