<!-- <div class="submenu"> -->
<div class="hd_3">
<div>Компания «Ортэн» работает как с юридическими, так и с частными лицами. Потому оплата услуг компании может осуществляться несколькими вариантами на выбор.</div>
    <hr>
    <div><strong>Наличный расчет (ФОП Сіряков С.В.)</strong></div>
    <div><strong>Безналичный расчет</strong></div>
    <div><strong>Гарантированный платеж</strong></div>
    <hr>
    <div>Также вы можете оплатить заказ наложенным платежом либо внести предоплату</div>
    <hr>
    <div>После оформления заказа с вами свяжется менеджер и предоставит реквизиты для оплаты.</div>
    <div>К товару прилагается стандартный пакет сопроводительных документов, которые удовлетворят требования и юридических лиц, и частных.</div>
</div>
<!-- </div> -->