{% load flatpages %}
{% load cache %}
{% load i18n %}
{% comment %} {% cache 900 sidebar %} {% endcomment %}
<div class="hd_content"><i class="fas fa-th-list"></i>Категории</div>
<div class="accordion">
    <div class="link"><i class="fas fa-bars"></i>Полиграфия</div>
        <ul class="submenu">
        {% get_flatpages as flatpages %}
        {% for item in flatpages|dictsort:"id" %}
            <li class="cool_link"><a class="text-muted" href="{% url 'shop:polygraphy_detail' item.id%}">{{ item.title }}</a></li>
        {% endfor %}
        </ul>
	 {% for item in category_all.get_cached_trees %}
	 {% if item.is_root_node %}
    <div class="link"><i class="fas fa-bars"></i>{{item.name}}</div>
    {% endif %}
    <ul class="submenu">
    	{% for item_children in item.get_descendants %}
        <li class="cool_link"><a href="{% url 'shop:list_category' item_children.get_absolute_url %}">{{item_children.name}}<span>{% firstof item_children.product.count item_children.services.count %}</span></a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% comment %} {% endcache %} {% endcomment %}