<div class="product_rassurance">
  <ul class="list-inline">
      <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#deliveryModalCenter"><i class="fa fa-truck fa-2x"></a></i><br/>Доставка</li>

      <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#paymentModalCenter"><i class="fa fa-credit-card fa-2x"></a></i><br/>Оплата</li>
      <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#contactsModalCenter"><i class="fa fa-phone fa-2x"></i></a><br/>Контакты</li>
  </ul>
<!-- Modal  delivery-->
  <div class="modal fade" id="deliveryModalCenter" tabindex="-1" role="dialog" aria-labelledby="deliveryModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p class="text-justify text-center text-uppercase h4">Доставка перевозчиком</p>
              <hr>
              <div>Для нас крайне удобно использовать перевозчика "Новая Почта". Это связано, прежде всего, с оперативность отправки малогабаритных и маловесных грузов.</div>
              <div>В день поступления оплаты, будет осуществлена отправка. Конечно, если вам удобно принимать посылки от других перевозчиков, для нас это не есть проблема)</div>
              <strong>Оплата услуг доставки осуществляется за счет покупателя и не входит в стоимость товара.</strong>
              <hr>
            <p class="text-justify text-center text-uppercase h4">Самовывоз</p>
              <hr>
              <div>Менеджер компании "Ортен" согласует с вами все нюансы, обговорит удобное для вас дату и время, соберет, подготовит, упакует заказанный вами товар.</div> 
              <div>При сложностях или различного рода форс-мажорах вы будете уведомлены заранее</div>
              <strong>Бесплатная доставка. Компания «Ортэн» доставит товар бесплатно по Николаеву при заказе от 3 000 гривен.</strong>
        </div>
      </div>
    </div>
  </div>
<!-- Modal  payment-->
  <div class="modal fade" id="paymentModalCenter" tabindex="-1" role="dialog" aria-labelledby="paymentModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>Компания «Ортэн» работает как с юридическими, так и с частными лицами. Потому оплата услуг компании может осуществляться несколькими вариантами на выбор.</div>
          <hr>
          <div><strong>Наличный расчет (ФОП Сіряков С.В.)</strong></div>
          <div><strong>Безналичный расчет</strong></div>
          <div><strong>Гарантированный платеж</strong></div>
          <hr>
          <div>Также вы можете оплатить заказ наложенным платежом либо внести предоплату</div>
          <hr>
          <div>После оформления заказа с вами свяжется менеджер и предоставит реквизиты для оплаты.</div>
          <div>К товару прилагается стандартный пакет сопроводительных документов, которые удовлетворят требования и юридических лиц, и частных.</div>
        </div>
      </div>
    </div>
  </div>
<!-- Modal  contacts-->
      <div class="modal fade" id="contactsModalCenter" tabindex="-1" role="dialog" aria-labelledby="contactsModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p class="leftstr text-uppercase"><i class="fa fa-home pr-3"></i>Адрес:</p>
                <p class="rightstr">г. Николаев пр. Мира, 5</p>
                <div style="clear: left"></div>

                <p class="leftstr text-uppercase"><i class="fas fa-phone pr-3"></i></i>продажи:</p>
                <p class="rightstr">(0512) 56-65-39</p>
                <div style="clear: left"></div>

                <p class="leftstr text-uppercase"></p>
                <p class="rightstr">(0512) 58-32-60</p>
                <div style="clear: left"></div>

                <p class="leftstr text-uppercase"></p>
                <p class="rightstr">(050) 318-40-64</p>
                <div style="clear: left"></div>

                <p class="leftstr text-uppercase"><i class="fas fa-envelope pr-3"></i>Мылко:</p>
                <p class="rightstr">
                  <a class="cool-link text-muted" href="mailto:orten_office@ukr.net">orten_office@ukr.net</a>
                </p>
                <br>
                <!--<p class="text-justify text-center text-uppercase">Сервис</p>-->
                <hr>
                <p class="leftstr text-uppercase"><i class="fas fa-phone pr-3"></i></i>Сервис:</p>
                <p class="rightstr">(0512) 56-65-51</p>
                <div style="clear: left"></div>

                <!--<p class="text-justify text-center text-uppercase">Полиграфия</p>-->
                <hr>
                <p class="leftstr text-uppercase"><i class="fas fa-phone pr-3"></i></i>полиграфия:</p>
                <p class="rightstr">(0512) 56-64-98</p>
                <div style="clear: left"></div>

                <p class="leftstr text-uppercase"></p>
                <p class="rightstr">(094) 943-57-50</p>
                <div style="clear: left"></div>

                <p class="leftstr text-uppercase"><i class="fas fa-envelope pr-3"></i>Мылко:</p>
                <p class="rightstr">
                  <a class="cool-link text-muted" href="mailto:orten_poligraf@ukr.net">orten_poligraf@ukr.net</a>
                </p>
            </div>
          </div>
        </div>
      </div>
</div>