<div class="hd_3">
    <h3 style="margin:12px">Продажи:</h3>
    <a href="https://www.google.com/maps/place/%D0%9E%D1%80%D1%82%D1%8D%D0%BD,+%D0%9E%D0%9E%D0%9E/@46.952503,32.040273,15z/data=!4m2!3m1!1s0x0:0x4784e49173525ad2?ved=2ahUKEwiLnpXuiPLfAhXNqIsKHWxSBAYQ_BIwCnoECAUQCA" target="_blank"><i class="fa fa-home mr-3 pl-3"></i><span itemprop="addressLocality">г. Николаев</span> <span itemprop="streetAddress">пр. Мира, 5</span></a>
    <br>
    <a href="mailto:orten_office@ukr.net"><i class="fas fa-envelope mr-3 pl-3"></i>orten_office@ukr.net</a>
    <br>
    <i class="fas fa-phone"></i><span itemprop="telephone">(0512) 56-65-39</span>
    <br> 
    <i class="fas fa-mobile"></i><span itemprop="telephone">(050) 318-40-64</span>
    <h3 style="margin:12px">Сервис:</h3>
    <a href="mailto:orten_office@ukr.net"><i class="fas fa-envelope mr-3 pl-3"></i>ivan_orten@ukr.net</a>
    <br>
    <i class="fas fa-phone"></i><span itemprop="telephone">(0512) 56-65-51</span>
    <h3 style="margin:12px">Полиграфия:</h3>
    <a href="mailto:orten_office@ukr.net"><i class="fas fa-envelope mr-3 pl-3"></i>orten_poligraf@ukr.net</a>
    <br>
    <i class="fas fa-phone"></i><span itemprop="telephone">(0512) 56-64-98</span>
    <br> 
    <i class="fas fa-mobile"></i><span itemprop="telephone">(094) 943-57-50</span>
</div>