{% load static %}
{% load bootstrap4 %}



<div class="row">
  <div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Фото</th>
        <th scope="col">Бренд</th>
        <th scope="col">Имя</th>
        <th scope="col">Артикул</th>
        <th scope="col">Цена</th>
        <th scope="col">Количество</th>
        <th scope="col">Сумма</th>
        <th scope="col">Удалить</th>
      </tr>
    </thead>
{% for item in cart %}
{% with product=item.product %}
    <tbody>
      <div class="table-responsive-sm">
      <tr>
        <th scope="row">
          <a class="thumbnail pull-left" href="{% url 'shop:product_detail' product.slug %}"> <img src="{% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" style="width: 72px; height: 72px;"></a>
        </th>
        <td>
           {{ product.vendor }}
        </td>
        <td>
          <a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a>
        </td>
        <td>
          {{ product.vendor_code }}
        </td>
        <td>
          {% if product.action %}
            {{ product.discount }}
          {% else %}
            {{ product.price }}
          {% endif %}
        </td>
        <td>
         <form action="{% url "cart:cart_add" product.id %}" method="post" class="add">
           {{ item.update_quantity_form.quantity }}
           {{ item.update_quantity_form.update }}
           {% csrf_token %}
           <button type="submit" class="btn btn-outline-primary"><i class="fab fa-get-pocket"></i></button>
           </form>
        </td>
        <td>
           {{ item.total_price }}
        </td>
        <td>
          <a href="{% url "cart:cart_remove" product.id %}" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i><role="button" aria-pressed="true"></role="button"></a>
        </td>
    </tbody>
    {% endwith %}
    {% endfor %}
  </table></tr></div></tbody></table></div></div>

 
{% comment %}
  Продукт: {{ item.product.name }}
<br>
Количество: {{ item.quantity }} 
<br>
Цена: {{ item.total_price }}
<br>
Тотал: {{ cart.get_total_price }}

{% endcomment %}