{% load static %}
{% load bootstrap4 %}

<div class="container-fluid">
  <div class="row">
        <div class="col-1">Фото</div>
        <div class="col-2">Бренд</div>
        <div class="col-4">Имя</div>
        <div class="col-2">Артикул</div>
        <div class="col-1">Цена</div>
        <div class="col-2">В корзину</th>
  </div>

  {% for product in products %}
  <hr>
  <div class="row">
    <div class="col-1">
      <a class="item_img"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="{{ product.name }}"></a>
    </div>
    <div class="col-2">
    {{ product.vendor }}
  </div>
    <div class="col-4">
     <a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a>
  </div>
    <div class="col-2">
      {{ product.vendor_code }}
    </div>
    <div class="col-1">
      {{ product.price }}
    </div>
    <div class="col-1">
            <form action="{% url "cart:cart_add" product.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_field cart_product_form.quantity show_label=False %}
    </div>
    <div class="col-1">
            {% buttons %}
            <button type="submit" class="btn btn-outline-primary"><i class="fab fa-get-pocket"></i></button>
            {% endbuttons %}
          
    </div>
    </form>
  </div>
  {% endfor %}
</div>
</div>
</div>





{% comment %}
  
<div class="row">
  <div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Фото</th>
        <th scope="col">Бренд</th>
        <th scope="col">Имя</th>
        <th scope="col">Артикул</th>
        <th scope="col">Ниаличие</th>
        <th scope="col">Цена</th>
        <th colspan="2">В корзину</th>
      </tr>
    </thead>
    {% for product in products %}
    <tbody>
      <tr>
        <th scope="row">
            <a class="item_img"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt=".">
        </th>
        <td>{{ product.vendor }}</td>
        <td>
            <a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}
        </td>
        <td>{{ product.vendor_code }}</td>
        <td><i class="fas fa-check"></i></td>
        <td>{{ product.price }}</td>
        <td>

            <form action="{% url "cart:cart_add" product.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_field cart_product_form.quantity show_label=False %}
          </td>
          <td>
            {% buttons %}
            <button type="submit" class="btn btn-outline-primary"><i class="fab fa-get-pocket"></i></button>
            {% endbuttons %}
          </form>

         </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endcomment %}