{% load static %}
{% load bootstrap4 %}
{% load i18n %}
<div class="row">
  <div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Фото</th>
        <th scope="col">Бренд</th>
        <th scope="col">Имя</th>
        <th scope="col">Артикул</th>
          <th scope="col">Ниаличие</th>
        <th scope="col">Цена</th>
        <th colspan="2">В корзину</th>
      </tr>
    </thead>
    {% for product in products %}


<div itemtype="http://schema.org/Product" itemscope>
   <link itemprop="image" href="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="{{ product.name }}"/>
    <meta itemprop="mpn" content="{{ product.vendor_code }}"/>
    <meta itemprop="name" content="{{product.name}}"/>
    <div itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
        <link itemprop="url" href="{% url 'shop:product_detail' product.slug %}" /> 
        {% comment %} "{% url 'shop:product_detail' product.slug %}" {% endcomment %}
        <meta itemprop="availability" content="https://schema.org/InStock" />
        <meta itemprop="priceCurrency" content="UAH" />
        <meta itemprop="itemCondition" content="https://schema.org/UsedCondition" />
        <meta itemprop="price" content="{{ product.price }}" />
          {% comment %}
              <meta itemprop="priceValidUntil" content="2020-11-05" />
          {% endcomment %}
        <meta itemprop="sku" content="{{ product.vendor_code }}" />
    </div>
    <div itemprop="brand" itemtype="http://schema.org/Thing" itemscope>
      <meta itemprop="name" content="{{ product.vendor }}" />
    </div>
</div>


    <tbody>
      <div class="table-responsive-sm">
      <tr>
        <th scope="row">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="{{ product.name }}">
        </th>
        <td>{{ product.vendor }}</td>
        <td>
            <a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a>
        </td>
        <td>{{ product.vendor_code }}</td>
        <td>
          {% if product.available %}
            <span style="color:green;"><i class="fas fa-check"></i></span>
          {% else %}
            <span style="color:red;"><i class="fas fa-times"></i></span>
          {% endif %}
        </td>
        <td>
          {% if product.action %}
          <span style="text-decoration: line-through">{{ product.price }}</span>
          <br>
          <span style="color: red">{{ product.discount }}</span>
          {% else %}
          {{ product.price }}
          {% endif %}
        </td>
        <td>

            <form action="{% url "cart:cart_add" product.id %}" method="post">{% csrf_token %}
            {% bootstrap_field cart_product_form.quantity show_label=False %}
          </td>
          <td>
            {% buttons %}
            <button type="submit" class="btn btn-outline-primary"><i class="fab fa-get-pocket"></i></button>
            {% endbuttons %}
          </form>
         </td>
      </tr>
    </div>
    </tbody>
    {% endfor %}
  </table>
</div>





{% comment %}
  
<div class="container-fluid">
  <div class="row">
        <div class="col-1">Фото</div>
        <div class="col-2">Бренд</div>
        <div class="col-4">Имя</div>
        <div class="col-2">Артикул</div>
        <div class="col-1">Цена</div>
        <div class="col-2">В корзину</th>
  </div>

  {% for product in products %}
  <hr>
  <div class="row">
    <div class="col-1">
      <a class="item_img"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="{{ product.name }}"></a>
    </div>
    <div class="col-2">
    {{ product.vendor }}
  </div>
    <div class="col-4">
     <a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a>
  </div>
    <div class="col-2">
      {{ product.vendor_code }}
    </div>
    <div class="col-1">
      {{ product.price }}
    </div>
    <div class="col-1">
            <form action="{% url "cart:cart_add" product.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_field cart_product_form.quantity show_label=False %}
    </div>
    <div class="col-1">
            {% buttons %}
            <button type="submit" class="btn btn-outline-primary"><i class="fab fa-get-pocket"></i></button>
            {% endbuttons %}
          
    </div>
    </form>
  </div>
  {% endfor %}
</div>
</div>
</div>

{% endcomment %}