<div class="hd_3">
<H3>Доставка перевозчиком</H3>
<hr>
<div>Для нас крайне удобно использовать перевозчика "Новая Почта". Это связано, прежде всего, с оперативность отправки малогабаритных и маловесных грузов.</div>
<div>В день поступления оплаты, будет осуществлена отправка. Конечно, если вам удобно принимать посылки от других перевозчиков, для нас это не есть проблема)</div>
<strong>Оплата услуг доставки осуществляется за счет покупателя и не входит в стоимость товара.</strong>
<hr>
<H3>Самовывоз</H3>
<hr>
<div>Менеджер компании "Ортен" согласует с вами все нюансы, обговорит удобное для вас дату и время, соберет, подготовит, упакует заказанный вами товар.</div> 
<div>При сложностях или различного рода форс-мажорах вы будете уведомлены заранее</div>
<strong>Бесплатная доставка. Компания «Ортэн» доставит товар бесплатно по Николаеву при заказе от 3 000 гривен.</strong>
</div>
