 <div class="c_p_d">
    <ul>
        <li class="more"><i class="far fa-credit-card"></i></li>
        <li class="more_2"><i class="fas fa-truck"></i></li>
        <li class="more_3"><i class="fas fa-phone"></i></li>
    </ul>
</div>
 <div class="overlay">
    <div class="close">x</div>
    <div class="flat_block">
        <div class="card_header">
            ОПЛАТА
        </div>
        {% include 'include/include_payment.html' %}
    </div>
</div>
 <div class="overlay_2">
    <div class="close_2">x</div>
    <div class="flat_block">
        <div class="card_header">
            Доставка
        </div>
        {% include 'include/include_delivery.html' %}
    </div>
</div>
 <div class="overlay_3">
    <div class="close_3">x</div>
    <div class="flat_block">
        <div class="card_header">
            Доставка
        </div>
        {% include 'include/include_contact.html' %}
    </div>
</div>
