{% load static %}
<span class="s-1">
    <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="{{ item.name }}">
</span>
<span class="s-2"><b>Бренд: </b>{{ item.vendor }}</span>
<span class="s-3"><b>Название: </b>
    <a href="{% url 'shop:product_detail' item.slug %}"
    {% if item.description %}
    title="{{item.description}}"
    {% endif %}
    >{{ item.name }}</a></span>
<span class="s-4"><b>Артикул: </b>{{ item.vendor_code }}</span>
<span class="s-5"><b>Наличие: </b>
    {% if item.available %}
        <i style="color:green;" class="fas fa-check"></i>
    {% else %}
        <i style="color:red;" class="fas fa-times"></i>
    {% endif %}
</span>
<span class="s-6"><b>Цена: </b>
    {% if item.action %}
        <em style="text-decoration: line-through">{{ item.price }}</em>
        <br>
        <em style="color:#fc6251;
            cursor: pointer" 
            title='Акция действует до {{item.end_action|date:"d.m.y"}}'>
            {{ item.discount }}
        </em>
    {% else %}
        {{ item.price }}
    {% endif %}
</span>
<div class="foot_card_quantity s-7">
    <form action="{% url "cart:cart_add" item.id %}" method="post">{% csrf_token %}
    <input type="number" name="{{ form.quantity.name }}" value="{{ form.quantity.value}}" min="1" {% if form.quantity.field.required %}required{% endif %}>
    <button type="submit" class="plas"><i class="fa fa-shopping-cart"></i></button>
    </form>
</div>