<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/list.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
<div class="main">

    <aside class="aside">
        <div class="content-header">
            <h2>aside</h2>
        </div>
    </aside>
    <section class="content">
        <div class="content-header">
            <h1>Новинки и акции</h1>
        </div>
        <article class="content-main content-main--list">
            <span class="s card--center">Фото</span>
            <span class="s card--center">Бренд</span>
            <span class="s card--center">Название</span>
            <span class="s card--center">Артикул</span>
            <span class="s card--center"></span>
            <span class="s card--center">Цена ₴</span>
            <span class="s card--center">В корзину</span>
            <!-- <article class="list"> -->
                <div class="card-img card--center">
                    <img class="card-img--adapt card-img--min" src="img/img.jpg" alt="Описание картинки">
                </div>
                <div class="card-vendor card--center">
                    bindMARK jhbvjbvl   
                </div>
                <h2 class="card-name card--center">Биндер на пластиковую пружину bindMARK Suher 21 PLUS, рофессиональный (шт.)</h2>
                <div class="pn card--center">
                    12345dsfgv
                </div>
                <div class="availability card--center">
                    +
                </div>
                <div class="card-price card--center">
                    12345.6
                </div>
                <form class="card-form card--center" action="cart/cart_add" method="POST">
                    <input type="number" name="quantity" value="1" min="1" required="">
                    <button class="button list--button" type="submit">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </form>
            <!-- </article> -->
            
            <!-- <article class="list"> -->
                <div class="card-img card--center">
                    <img class="card-img--adapt card-img--min" src="img/img.jpg" alt="Описание картинки">
                </div>
                <div class="card-vendor card--center">
                    bindMARK    
                </div>
                <h2 class="card-name card--center">Биндер на пластиковую пружину bindMARK Suher 21 PLUS, рофессиональный (шт.)</h2>
                <div class="pn card--center">
                    12345dsfgv
                </div>
                <div class="availability card--center">
                    +
                </div>
                <div class="card-price card--center">
                    12345.6
                </div>
                <form class="card-form card--center" action="cart/cart_add" method="POST">
                    <input type="number" name="quantity" value="1" min="1" required="">
                    <button class="button list--button" type="submit">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </form>
            <!-- </article> -->

            <!-- <article class="list"> -->
                <div class="card-img card--center">
                    <img class="card-img--adapt card-img--min" src="img/img.jpg" alt="Описание картинки">
                </div>
                <div class="card-vendor card--center">
                    bindMARK    
                </div>
                <h2 class="card-name card--center">Биндер на пластиковую </h2>
                <div class="pn card--center">
                    12345dsfgv
                </div>
                <div class="availability card--center">
                    +
                </div>
                <div class="card-price card--center">
                    12345.6
                </div>
                <form class="card-form card--center" action="cart/cart_add" method="POST">
                    <input type="number" name="quantity" value="1" min="1" required="">
                    <button class="button list--button" type="submit">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </form>
            <!-- </article> -->
        </article>
        <article  class="content-main content-main--card">
            <div class="card">
                <!-- {% if item.action %} -->
                    <div class="card-action">Акция до 21.03.20</div>
                <!-- {% endif %} -->
                <a href="{% url 'shop:product_detail' item.slug %}">
                    <div class="card__img">
                        <img class="card-img-top" src="img/Шредер_703xx.jpg">
                    </div>
                </a>
                <a href="{% url 'shop:product_detail' item.slug %}">
                    <div class="card_content">
                        <h2 class="name">Ламинатор рулонный Boway F650 A (шт.)</h2>
                        <p class="card__pn card--left-right">
                            <span>Артикул:</span>
                            <span>20396</span>
                        </p>
                        <p class="card__vendor card--left-right">
                            <span>Вендор:</span>
                            <span>Boway</span>
                        </p>
                        <div class="card__price">
                            <!-- {% if item.action %} -->
                                <p class="card--left-right"><span>Цена: </span> <span>60840.00
</span></p>
                                <p class="card--left-right"><span>Цена:</span> <span>45630.00
                                </span></p>
                            <!-- {% else %} -->
                                <p class="card--left-right"><span>Цена:</span> <span>60840.00
</span></p>
                            <!-- {% endif %} -->
                        </div>
                    </div>
                </a>
                <form class="card-form card--center" action="cart/cart_add" method="POST">
                    <input type="number" name="quantity" value="1" min="1" required="">
                    <button class="button list--button" type="submit">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </form>
                <!-- <div class="foot_card_quantity">
                    <form action="{% url "cart:cart_add" item.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="{{ form.quantity.name }}" value="{{ form.quantity.value}}" min="1" {% if form.quantity.field.required %}required{% endif %}>
                    <button type="submit" class="apply"><i style="padding-right:5px;" class="fa fa-shopping-cart"></i>Купить</button>
                    </form>
                </div> -->
            </div>

            <div class="card">
                <!-- {% if item.action %} -->
                    <div class="card-action">Акция до 21.03.20</div>
                <!-- {% endif %} -->
                <a href="{% url 'shop:product_detail' item.slug %}">
                    <div class="card__img">
                        <img class="card-img-top" src="img/Шредер_703xx.jpg">
                    </div>
                </a>
                <a href="{% url 'shop:product_detail' item.slug %}">
                    <div class="card_content">
                        <h2 class="name">Ламинатор рулонный Boway F650 A (шт.)</h2>
                        <p class="card__pn card--left-right">
                            <span>Артикул:</span>
                            <span>20396</span>
                        </p>
                        <p class="card__vendor card--left-right">
                            <span>Вендор:</span>
                            <span>Boway</span>
                        </p>
                        <div class="card__price">
                            <!-- {% if item.action %} -->
                                <p class="card--left-right"><span>Цена: </span> <span>60840.00
</span></p>
                                <p class="card--left-right"><span>Цена:</span> <span>45630.00
                                </span></p>
                            <!-- {% else %} -->
                                <p class="card--left-right"><span>Цена:</span> <span>60840.00
</span></p>
                            <!-- {% endif %} -->
                        </div>
                    </div>
                </a>
                <form class="card-form card--center" action="cart/cart_add" method="POST">
                    <input type="number" name="quantity" value="1" min="1" required="">
                    <button class="button list--button" type="submit">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </form>
                <!-- <div class="foot_card_quantity">
                    <form action="{% url "cart:cart_add" item.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="{{ form.quantity.name }}" value="{{ form.quantity.value}}" min="1" {% if form.quantity.field.required %}required{% endif %}>
                    <button type="submit" class="apply"><i style="padding-right:5px;" class="fa fa-shopping-cart"></i>Купить</button>
                    </form>
                </div> -->
            </div>

            <div class="card">
                <!-- {% if item.action %} -->
                    <div class="card-action">Акция до 21.03.20</div>
                <!-- {% endif %} -->
                <a href="{% url 'shop:product_detail' item.slug %}">
                    <div class="card__img">
                        <img class="card-img-top" src="img/Шредер_703xx.jpg">
                    </div>
                </a>
                <a href="{% url 'shop:product_detail' item.slug %}">
                    <div class="card_content">
                        <h2 class="name">Ламинатор рулонный Boway F650 A (шт.)</h2>
                        <p class="card__pn card--left-right">
                            <span>Артикул:</span>
                            <span>20396</span>
                        </p>
                        <p class="card__vendor card--left-right">
                            <span>Вендор:</span>
                            <span>Boway</span>
                        </p>
                        <div class="card__price">
                            <!-- {% if item.action %} -->
                                <p class="card--left-right"><span>Цена: </span> <span>60840.00
</span></p>
                                <p class="card--left-right"><span>Цена:</span> <span>45630.00
                                </span></p>
                            <!-- {% else %} -->
                                <p class="card--left-right"><span>Цена:</span> <span>60840.00
</span></p>
                            <!-- {% endif %} -->
                        </div>
                    </div>
                </a>
                <form class="card-form card--center" action="cart/cart_add" method="POST">
                    <input type="number" name="quantity" value="1" min="1" required="">
                    <button class="button list--button" type="submit">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </form>
                <!-- <div class="foot_card_quantity">
                    <form action="{% url "cart:cart_add" item.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="{{ form.quantity.name }}" value="{{ form.quantity.value}}" min="1" {% if form.quantity.field.required %}required{% endif %}>
                    <button type="submit" class="apply"><i style="padding-right:5px;" class="fa fa-shopping-cart"></i>Купить</button>
                    </form>
                </div> -->
            </div>

            
        </article>
    </section>

</div>

</body>
</html>