<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/shop/css/flags.css" type="text/css">
        
        <link rel="stylesheet" href="css/element.css" type="text/css">
        <link rel="stylesheet" href="css/media.css" type="text/css">
        <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        
    <title>Шредер shredMARK 703XX</title>
    <meta name="title" content="Шредер shredMARK 703XX - купить в Николаеве и Украине">
    <meta name="description" content="Шредер shredMARK 703XX - 3744.00 грн. - купить в Николаеве и Украине ★ Практически бесшумный шредер, который уничтожает до 9 листов бумаги с уровнем секретности DIN 4 - лист А4 превращается в 2310 отдельных кусочков. Новый дизайн корпуса.
Имеет корзину емкостью 19 литров. В ней есть удобное отверстие для определения заполнения корзины. Есть отдельный слот для уничтожения пластиковых карт и дисков.
Этот уничтожитель документов - персонального использования. Его размеры позволяют установить его под стол или рядом с рабочим столом. Также он может быть использован и дома. Рабочий цикл - около 5 минут. Для предотвращения повреждения аппарата в нем установлена система защиты от перегрева.
Производство аппаратов налажено в Китае на фабриках, имеющих сертификат ISO 9001. ★ Более 20 лет рынке копировальной техники и сервисного обслуживания">
    </head>
<body>
    <header>

    </header>
    <div class="product_detail">
        <div class="product_header">
            <h2 style="color:#fc6251">Акция до 16.03.20</h2>
            <br>
            <h1>Шредер shredMARK 703XX</h1>
        </div>
        <div class="product_img">
            <img style="max-width:100%;" src="/media/product/%D0%A8%D1%80%D0%B5%D0%B4%D0%B5%D1%80_703xx.jpg " alt="Шредер shredMARK 703XX" title="Шредер shredMARK 703XX">
        </div>
        <div class="feature">
            <div class="specification">
                <p class="p_left">Артикул:</p>
                <p class="p_right">24321</p>
                <br><hr>
                <p class="p_left">Производитель:</p>
                <p class="p_right">shredMARK</p>
                <br><hr>
                <p class="p_left">Тип товара:</p>
                <p class="p_right">Уничтожитель документов</p>
                <br><hr>
                    <h4><span style="float: left">Цена: </span> <span style="color:#fc6251; float:right">2733.00</span></h4>
                <br>
                    <H5><span style="float:left" >Цена:</span> <span style="text-decoration: line-through; float:right">3744.00</span></H5>
            </div>
            <br><hr>

            <div class="c_p_d">
    <ul>
        <li class="more"><i class="far fa-credit-card"></i></li>
        <li class="more_2"><i class="fas fa-truck"></i></li>
        <li class="more_3"><i class="fas fa-phone"></i></li>
    </ul>
</div>
 <div class="overlay">
    <div class="close">x</div>
    <div class="flat_block">
        <div class="card_header">
            ОПЛАТА
        </div>
        <!-- <div class="submenu"> -->
<div class="hd_3">
<div>Компания «Ортэн» работает как с юридическими, так и с частными лицами. Потому оплата услуг компании может осуществляться несколькими вариантами на выбор.</div>
    <hr>
    <div><strong>Наличный расчет (ФОП Сіряков С.В.)</strong></div>
    <div><strong>Безналичный расчет</strong></div>
    <div><strong>Гарантированный платеж</strong></div>
    <hr>
    <div>Также вы можете оплатить заказ наложенным платежом либо внести предоплату</div>
    <hr>
    <div>После оформления заказа с вами свяжется менеджер и предоставит реквизиты для оплаты.</div>
    <div>К товару прилагается стандартный пакет сопроводительных документов, которые удовлетворят требования и юридических лиц, и частных.</div>
</div>
<!-- </div> -->
    </div>
</div>
 <div class="overlay_2">
    <div class="close_2">x</div>
    <div class="flat_block">
        <div class="card_header">
            Доставка
        </div>
        <div class="hd_3">
<H3>Доставка перевозчиком</H3>
<hr>
<div>Для нас крайне удобно использовать перевозчика "Новая Почта". Это связано, прежде всего, с оперативность отправки малогабаритных и маловесных грузов.</div>
<div>В день поступления оплаты, будет осуществлена отправка. Конечно, если вам удобно принимать посылки от других перевозчиков, для нас это не есть проблема)</div>
<strong>Оплата услуг доставки осуществляется за счет покупателя и не входит в стоимость товара.</strong>
<hr>
<H3>Самовывоз</H3>
<hr>
<div>Менеджер компании "Ортен" согласует с вами все нюансы, обговорит удобное для вас дату и время, соберет, подготовит, упакует заказанный вами товар.</div> 
<div>При сложностях или различного рода форс-мажорах вы будете уведомлены заранее</div>
<strong>Бесплатная доставка. Компания «Ортэн» доставит товар бесплатно по Николаеву при заказе от 3 000 гривен.</strong>
</div>

    </div>
</div>
 <div class="overlay_3">
    <div class="close_3">x</div>
    <div class="flat_block">
        <div class="card_header">
            Доставка
        </div>
        <div class="hd_3">
    <h3 style="margin:12px">Продажи:</h3>
    <a href="https://www.google.com/maps/place/%D0%9E%D1%80%D1%82%D1%8D%D0%BD,+%D0%9E%D0%9E%D0%9E/@46.952503,32.040273,15z/data=!4m2!3m1!1s0x0:0x4784e49173525ad2?ved=2ahUKEwiLnpXuiPLfAhXNqIsKHWxSBAYQ_BIwCnoECAUQCA" target="_blank"><i class="fa fa-home mr-3 pl-3"></i> 
    г. Николаев пр. Мира, 5</a>
    <br>
    <a href="mailto:orten_office@ukr.net"><i class="fas fa-envelope mr-3 pl-3"></i>orten_office@ukr.net</a>
    <br>
    <i class="fas fa-phone"></i>(0512) 56-65-39
    <br> 
    <i class="fas fa-mobile"></i>(050) 318-40-64
    <h3 style="margin:12px">Сервис:</h3>
    <a href="mailto:orten_office@ukr.net"><i class="fas fa-envelope mr-3 pl-3"></i>ivan_orten@ukr.net</a>
    <br>
    <i class="fas fa-phone"></i>(0512) 56-65-51
    <h3 style="margin:12px">Полиграфия:</h3>
    <a href="mailto:orten_office@ukr.net"><i class="fas fa-envelope mr-3 pl-3"></i>orten_poligraf@ukr.net</a>
    <br>
    <i class="fas fa-phone"></i>(0512) 56-64-98
    <br> 
    <i class="fas fa-mobile"></i>(094) 943-57-50
</div>
    </div>
</div>

            
            <div class="foot_card_quantity">
                <form action="/cart/add/3957" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="EYL3ynYDHt6J78iwHlrcORlxfByWvbVzN3TFkxJa6EBKigW9MKk7bdfYam8Dp3y1">
                    <input type="number" name="quantity" value="1" min="1" required id="id_quantity">
                    <input type="hidden" name="update" value="False" id="id_update">
                    <button type="submit" class="apply">
                    <i style="padding-right:5px;" class="fa fa-shopping-cart"></i>Купить</button>
                </form>
            </div>
            
        </div>
        <div class="description">
            <div class="descript">
                <strong>Краткое описание:</strong>
                
                    <p>Практически бесшумный шредер, который уничтожает до 9 листов бумаги с уровнем секретности DIN 4 - лист А4 превращается в 2310 отдельных кусочков. Новый дизайн корпуса.<br>Имеет корзину емкостью 19 литров. В ней есть удобное отверстие для определения заполнения корзины. Есть отдельный слот для уничтожения пластиковых карт и дисков.<br>Этот уничтожитель документов - персонального использования. Его размеры позволяют установить его под стол или рядом с рабочим столом. Также он может быть использован и дома. Рабочий цикл - около 5 минут. Для предотвращения повреждения аппарата в нем установлена система защиты от перегрева.<br>Производство аппаратов налажено в Китае на фабриках, имеющих сертификат ISO 9001.</p>
                 
                <br><hr>
            </div>
            <div class="spec">
                <strong>Характеристика:</strong>
                
                    <p>Модель shredMARK 703XX<br />
Категория персональный<br />
Мощность (А4/70г) 9<br />
Тип резки XX<br />
Размер кусочков 3х9 мм<br />
DIN уровень 4<br />
Рабочая ширина, мм 225<br />
Объем корзины, л 19<br />
Автоматический старт/стоп электронный<br />
Реверс +<br />
Термозащита двигателя от перегрузок +<br />
Скорость, м/мин 2.6<br />
Блокировка работы при открытой корзине +<br />
Автостоп при переполненной корзине с индикатором -<br />
Уничтожение скрепок +<br />
Уничтожение пластиковых карточек +<br />
Уничтожение CD +<br />
Уровень шума, дБ 65<br />
Рабочий цикл &ldquo;вкл&rdquo;/&rdquo;выкл&rdquo;, мин 5/30<br />
Размер, мм 350х236х463<br />
Вес, кг 5,1</p>
                
            </div>
        </div>
            <div class="product_list accessories">
                
            </div>
    </div>
    blok
</body>
</html>
