{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load mptt_tags %}

            {% block breadcrumbs %}
            {{ block.super }}
            <li><a href="{% url 'shop:list_category' %}">Категории</a><i class="fas fa-chevron-right pl-1"></i></li>
            {% for i in category.get_anc %}
            <li><a href="/category/{{ i.get_absolute_url }}">{{ i.name }}</a><i class="fas fa-chevron-right pl-1"></i></li>
            {% endfor %}
            {% endblock %}

{% block content %}
<title>Orten - Category All</title>


<div class="container-fluid">
    <div class="row">

        <!-- Блок Категорий -->
        <div class="col-12 col-sm-3">
            <div class="card bg-light">
                <article class="card-group-item">
                    <header class="card-header text-bleck text-uppercase">
                        <h6 class="title"><i class="fa fa-list pr-3"></i>Категории</h6>
                    </header>
                    <div class="card-body p-0">
                        {% include "include/include_category_list.html" %}
                    </div>
                </article>
            </div>
        </div>

<!-- Блок Карт категорий  -->
        <div class="col-12 col-sm-9">
            <div class="card bg-light">
                <article class="card-group-item">
                    <header class="card-header text-bleck text-uppercase">
                        <h6 class="title"><i class="fa fa-list pr-3"></i>сисок категорий</h6>
                    </header>
                    <div class="card-group">
                    {% if products %}
                    
                                        <meta http-equiv="REFRESH" content="0;url={% url 'shop:product_list' %}?category={{instance.id}}">

                    {% comment %}
                    {% include "include/include_product_list.html" %}
                    <meta http-equiv="REFRESH" content="0;url={% url 'shop:product_list' %}?category={{instance.id}}">
                    {% endcomment %}
                    {% else %}
                    {% for i in instance.children.all %}
                    <div class="col-sm-4 p-2">
                        <div class="card h-100">
                            <img class="card-img-top" src="{% if i.image %}{{ i.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" alt="{{i.name}}" width="230" height="230">
                            <div class="card-footer bg-transparent">
                                <div class="row">
                                    <a class="text-muted" href="{% url 'shop:show_category' i.get_absolute_url %}" title="{{i.name}}">{{i.name}}<span class="badgebadge-light ml-3">{{ i.product_set.count }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                    {% endif %}

                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% comment %}
<!--List category-->
<div class="card-header text-bleck text-uppercase"><i class="fa fa-list mr-3"></i>Категории</div>
<div class="accordion" id="accordionExample">
    {% for item in category_all.get_cached_trees %}
    {% if item.is_root_node %}
    <div class="card-header" id="heading-{{item.slug}}">
        <ul class="list-group text-white" data-toggle="collapse" data-target="#collapse-{{item.slug}}" aria-expanded="true" aria-controls="collapse-{{item.slug}}">{{item.name}}
        </ul>
    </div>
    <div id="collapse-{{item.slug}}" class="collapse show" aria-labelledby="heading-{{item.slug}}" data-parent="#accordionExample">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for item_children in item.get_descendants %}
                <li class="list-group-item bg-light"><a class="text-muted" href="/category/{{ item_children.get_absolute_url }}">{{item_children.name}}<span class="badge ml-2">{{ item_children.product_set.count }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
<div class="col-9">
    <div class="row">
        <div class="col-sm">
            <div class="card-header text-bleck text-uppercase">
                <i class="fas fa-list"></i> List Products for {{category.name}}
            </div>
            <div class="card-body">
                </dev>
                </dev>
                </dev>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Фото</th>
                            <th>Бренд</th>
                            <th>Название</th>
                            <th>Артикул</th>
                            <th>Нали- чие</th>
                            <th>Цена</th>
                            <th colspan="2">В корзину</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for product in products %}
                        <tr id="">
                            <td>
                                <a class="item_img"><img src="{% if item.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="{{item.name}}">
        </td>
            <td>
            {{ product.vendor }}
        </td>
            <td>
                <a href="{% url 'shop:show_category' product.get_absolute_url %}" id="name">{{ product.name }}

        </td>
            <td>
            {{ product.vendor_code }}
        </td>
            <td>
                <img src="{% static "img/existence_1.png" %}">
        </td>
            <td>
                {{ product.price_uah }}
        </td>
            <td>
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {% csrf_token %}


                  {% bootstrap_field cart_product_form.quantity show_label=False %}
            </td>
            <td>
                                  {% buttons %}
                    <button type="submit" class="btn btn-outline-primary"><i class="fab fa-get-pocket"></i></button>
                  {% endbuttons %}


            </form>

        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

        </div>
    </div>
</div>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>













                      {% recursetree category_all %}

        <li class="list-group-item"><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></li>
                                {% if not node.is_leaf_node %}
                                <ul class="children" {{node.slug}}>
                                    {{ children }}
                                </ul>
                                {% endif %}
                                {% endrecursetree %}
                                {% endcomment %}