{% extends 'base.html' %}
{% block breadcrumbs %}
{{ block.super }}
    {% for i in category.get_anc %}  
            » <a href="/shop/category/{{ i.get_absolute_url }}">{{ i.name }}</a>
    {% endfor %}
{% endblock %}

{% load static %}
{% load sitetree %}
{% block head_title %} {{ category.name }} {% endblock %}



{% block content %}
<div class="text-center"><h2>{{category.name}}</h2></div>

{% if category.children.all %}

<div class="container">
    {% for i in category.children.all %}
<hr>


<div class="animated fadeIn subject-detail-card">
    <div class="row">
        <div class="col-sm-2">
            <div class="subject-cover-image">
                <img class="card-img-top" src="{% if i.image %}{{ i.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" width="155" height="155" alt="lorem" class="leftimg" class="img-responsive" />
                    </div>
            </div>
            <div class="col-sm-8">
                <h4 class="card-title"><a href="{{ i.slug }}"> {{ i.name }} </a><br></h4>
                <div class="subject-discription">
                    <p class="card-text"> {{i.description | truncatewords_html:58 | safe}} </p>
                </div>
            </div>
            <div class="text-center col-sm-2">
                <button class="btn btn-default orange-circle-button" href="#">10 <br />Lactures<br /><span>Read more</span></button>
            </div>
        </div>
    </div>

{% endfor %}
{% endif %}


{% if products.all %}
<table class="table table-bordered">
    <tr>
        <th>Фото</th>
        <th>Бренд</th>
        <th>Название</th>
        <th>Артикул</th>
        <th>Нали- чие</th>
        <th>Цена</th>
        <th>В корзину</th>
        <th></th>
    </tr>
        {% for product in products %}
    <tr id="">
        <td>
            <a class="item_img"><img src="{% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="lorem">
        </td>
            <td>
            {{ product.vendor }}
        </td>
            <td>
               <!-- <a href="{% url 'shop:product_detail' product.slug%}" id="name">{{ product.name }} -->
                    <a href="{% url 'shop:show_category' product.get_absolute_url%}" id="name">{{ product.name }}

        </td>
            <td>
            {{ product.vendor_code }}
        </td>
            <td>
                <img src="{% static "img/existence_1.png" %}">
        </td>
            <td>
                {{ product.price_uah }}
        </td>
            <td>
              <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-minus"></span>
              </button>
        </td>
            <td>
              <img src="{% static "img/litlebasket.png" %}">
        </td>

        </tr>
            {% endfor %}
{% endif %}
{% endblock %}