{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load flatpages %}
{% load i18n %}
{% block head %}
	<title>{{instance.name}}</title>
	<meta name="title" content="{{instance.name}} - Заказать в Николаеве">
	<meta name="description" content="{{instance.name}} - Заказать в Николаеве ★ Интернет-магазин Ортен более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}
{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="{% url 'shop:category' %}">Категории</a></li>
	{% for item in instance.get_ancestors %}
		{% if item.product.count %}
			<li>{{ item.name }}</li>
		{% else %}
			<li><a href="{% url 'shop:child_category' item.slug %}">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
	<li>{{ instance.name }}</li>
{% endblock %}
{% block content %}
	<section class="main-container">
		<aside>
			{% include "include/aside_category_include.html" %}
		</aside>
		<main>
			<div class="header-for-block"><i class="fa fa-list"></i>
				{{instance.name}}
			</div>
			<div class="card-grid">
				{% for item in instance.children.all|dictsort:"id" %}
				<div class="card">
					{% if item.product.count %}
					<a class="card__link" href="{% url 'shop:product_list' %}?category={{item.id}}">
					{% elif item.services.count %}
					<a class="card__link" href="{% url 'shop:service_list' %}?category={{item.id}}">
					{% else %}
					<a class="card__link" href="{% url 'shop:child_category' item.slug %}">
					{% endif %}
						<div class="card__img">
							<img class="card-img-top"
							src="{% if item.image %}{{ item.image.url }} {% else %}{% static "img/no_image.png" %}
							{% endif %}" title="{{item.name}}" 
							alt="{{item.name}}">
						</div>
						<h2 class="card__name title-h2 card--text-centr">{{item.name}}
							<span class="color--green">{% firstof item.product.count item.services.count %}</span>
						</h2>
					</a>
				</div>
				{% endfor %}
			</div>
		</main>
	</section>
{% endblock %}
{% comment %} rename {% endcomment %}
