{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% block title %}
{% endblock %}
{% block content %}
<hr>
Tags| <strong>
{% for tag in produts.tags.all %}
<a href="/shop/tag/{{tag.id}}"> {{ tag.name }}</a> |
{% endfor %}
</strong>




<table class="table table-bordered">
    <tr>
        <th>Фото</th>
        <th>Бренд</th>
        <th>Название</th>
        <th>Артикул</th>
        <th>Нали- чие</th>
        <th>Цена</th>
        <th>В корзину</th>
    </tr>
    {% for product in products %}
    <tr id="">
        <td>
            <a class="item_img"><img src="{% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="lorem">
        </td>
            <td>
            {{ product.vendor }}
        </td>
            <td>
                <a href="{% url 'shop:show_category' product.get_absolute_url %}" id="name">{{ product.name }}

        </td>
            <td>
            {{ product.vendor_code }}
        </td>
            <td>
                <img src="{% static "img/existence_1.png" %}">
        </td>
            <td>
                {{ product.price_uah }}
        </td>
            <td>
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ cart_product_form.quantity }}
                {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
            </form> 

        </td>

        </tr>
            {% endfor %}

{% endblock %}