{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load paginator_filter %}
{% load i18n %}

{% block head %}
    <title>{{instance.name}} Список услуг</title>
    <meta name="title" content="{{instance.name}} - купить в Николаеве и Украине">
    <meta name="description" content="{{instance.name}} - Купить в Николаеве, интернет-магазин Ортен ★ Ортен более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'shop:service_list' %}">Сервис</a></li>
    {% for i in instance.get_anc %}
        {% if i.services.count %}
            <li>{{ i.name }}</li>
        {% else %}
            <li><a href="{% url 'shop:child_category' i.slug %}">{{ i.name }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    <section class="main-container">
        {% include 'include/filters.html' %}
        <main>
            <div class="header-for-block"><i class="fas fa-cogs"></i>Сервис</div>
                <div class="card-grid">
                    {% for item in object_list %}
                    <script type="application/ld+json">
                        {% include "include/main_card_include.json" %}
                    </script>
                        {% include "include/service_card.html" %}
                    {% endfor %}
                </div>
        </main>
    </section>
    {% if is_paginated %}
        {% include "include/pagination.html" %}
    {% endif %}
{% endblock %}