{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% load bootstrap4 %}





{% block content %}

<title>Orten - Product List</title>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-3">
<div class="card bg-light mb-3">
    <article class="card-group-item">
        <header class="card-header">
            <h6 class="title"><i class="fas fa-hand-holding-usd"></i>  Selection Price</h6>
        </header>
        <div class="filter-content">
            <div class="card-body">
            <div class="form-row">
            <div class="form-group col-md-6">
              <label>Min</label>
              <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
            </div>
            <div class="form-group col-md-6 text-right">
              <label>Max</label>
              <input type="number" class="form-control" placeholder="$1,0000">
            </div>
            </div>
            </div> <!-- card-body.// -->
        </div>
    </article> <!-- card-group-item.// -->
    <article class="card-group-item">
        <header class="card-header">
            <h6 class="title"><i class="fas fa-landmark"></i>  Selection Vendor</h6>
        </header>
            <form method="get">
                {% bootstrap_form filter.form show_label=False%}
                <button type="submit">Search</button>
            </form>


        <div class="filter-content">
            <div class="card-body">
                <div class="custom-control custom-checkbox">
                    <span class="float-right badge badge-light round">52</span>
                    <input type="checkbox" class="custom-control-input" id="Check1">
                    <label class="custom-control-label" for="Check1">Vendor</label>
                </div> <!-- form-check.// -->

                <div class="custom-control custom-checkbox">
                    <span class="float-right badge badge-light round">132</span>
                    <input type="checkbox" class="custom-control-input" id="Check2">
                    <label class="custom-control-label" for="Check2">Vendor</label>
                </div> <!-- form-check.// -->

                <div class="custom-control custom-checkbox">
                    <span class="float-right badge badge-light round">17</span>
                    <input type="checkbox" class="custom-control-input" id="Check3">
                    <label class="custom-control-label" for="Check3">Vendor</label>
                </div> <!-- form-check.// -->

                <div class="custom-control custom-checkbox">
                    <span class="float-right badge badge-light round">7</span>
                    <input type="checkbox" class="custom-control-input" id="Check4">
                    <label class="custom-control-label" for="Check4">Vendor</label>
                </div> <!-- form-check.// -->
            </div> <!-- card-body.// -->
        </div>
    </article> <!-- card-group-item.// -->
     <article class="card-group-item">
        <header class="card-header">
            <h6 class="title"><i class="fas fa-tag"></i>  Selection Tags</h6>
        </header>
                <div class="filter-content">
            <div class="card-body">
                <div class="custom-control custom-checkbox">
                    <span class="float-right badge badge-light round">52</span>
                    <input type="checkbox" class="custom-control-input" id="Check1">
                    <label class="custom-control-label" for="Check1">Tags</label>
                </div> <!-- form-check.// -->

                <div class="custom-control custom-checkbox">
                    <span class="float-right badge badge-light round">132</span>
                    <input type="checkbox" class="custom-control-input" id="Check2">
                    <label class="custom-control-label" for="Check2">Tags</label>
                </div> <!-- form-check.// -->

                <div class="custom-control custom-checkbox">
                    <span class="float-right badge badge-light round">17</span>
                    <input type="checkbox" class="custom-control-input" id="Check3">
                    <label class="custom-control-label" for="Check3">Tags</label>
                </div> <!-- form-check.// -->

                <div class="custom-control custom-checkbox">
                    <span class="float-right badge badge-light round">7</span>
                    <input type="checkbox" class="custom-control-input" id="Check4">
                    <label class="custom-control-label" for="Check4">Tags</label>
                </div> <!-- form-check.// -->
            </div> <!-- card-body.// -->
        </div>

</div> <!-- card.// -->
</div>

        <div class="col-sm">
                <div class="card-header text-bleck text-uppercase">
                    <i class="fas fa-list"></i>  List Products
                </div>
                <div class="card-body">
            <table class="table">
  <thead>
    <tr>
        <th>Фото</th>
        <th>Бренд</th>
        <th>Название</th>
        <th>Артикул</th>
        <th>Нали- чие</th>
        <th>Цена</th>
         <th colspan="2">В корзину</th>

    </tr>
  </thead>
  <tbody>
    <tr>
    {% for product in products %}
    <tr id="">
        <td>
            <a class="item_img"><img src="{% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="lorem">
        </td>
            <td>
            {{ product.vendor }}
        </td>
            <td>
                <a href="{% url 'shop:show_category' product.get_absolute_url %}" id="name">{{ product.name }}

        </td>
            <td>
            {{ product.vendor_code }}
        </td>
            <td>
                 <i class="fas fa-check"></i>
        </td>
            <td>
                {{ product.price }}
        </td>
            <td>
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {% csrf_token %}


                  {% bootstrap_field cart_product_form.quantity show_label=False %}
            </td>
            <td>
                                  {% buttons %}
                    <button type="submit" class="btn btn-outline-primary"><i class="fab fa-get-pocket"></i></button>
                  {% endbuttons %}


            </form>

        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

        </div>
    </div>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</div>
{% comment %}

<section class="team-section py-5">
    <div class="container">
        <div class="row mb-5">
            <div class="head-box text-center mb-5 col-md-12">
                <h2>Meet Our Team</h2>
                <h6 class="text-underline-primary mb-5">This is information panel</h6>
            </div>
            {% for product in products %}
            <div class="col-md-4 mb-md-0 mb-sm-4">
                <div class="member-box anim-lf t-bottom">
                    <img class="img-fluid" src="{% static "img/no_image.png" %}" alt="">
                    <div class="overlay-content">
                      <h3 class="text-white ml-3 my-0">{{ product.name }}</h3>
                      <p class="text-white ml-3 mb-3">{{ product.price }}</p>
                      <span class="socail-l ml-3 mb-3">
                        <a href="#" class="mr-2"><i class="fa fa-facebook box-circle-solid"></i></a>
                        <a href="#" class="mr-2"><i class="fa fa-twitter box-circle-solid"></i></a>
                        <a href="#"><i class="fa fa-dribbble box-circle-solid"></i></a>
                      </span>
                    </div>
                </div>
            </div>
            <hr>
            {%endfor%}
        </div>
    </div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <strong>
            {% for tag in produts.tags.all %}
            <a href="/shop/tag/{{tag.id}}"> {{ tag.name }}</a> |
            {% endfor %}
            </strong>
        </div>
    </div>

{% endcomment %}
{% comment %}
?search=SSL
?vendor=Patron&type_product=foo
?page=1
/?vendor=Ricoh&type_product=МФУ
<a href="?page={{ products.previous_page_number }}{% if request.GET.queryset %}&queryset={{ request.GET.queryset }}{% endif %}">previous</a>
{% endcomment %}
<div class="d-flex justify-content-center">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
    {% if products.has_previous %}
      <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
        {% endif %}
      </a>
    </li>

    {% for p in products.paginator.page_range %}
    <li class="page-item"><a href="?page={{ p }}" class="page-link">{{ p }}</a></li>
    {% endfor %}
<li class="page-item">
{% if products.has_next %}
      <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
        {% endif %}
      </a>
    </li>
  </ul>
</nav>
</div>
{% endblock %}
