{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}


{% block content %}

<div
        class="col-md-12 product-wrapper"
        data-slug="Videokarta_MSI_Radeon_RX_570_8192Mb_ARMOR_RX_570_ARMOR_8G-p381661"
        data-name="Видеокарта MSI Radeon RX 570 8192Mb ARMOR (RX 570 ARMOR 8G)"
        data-class="98"
        data-code="U0313646"
        data-pid="381661"
        data-class-name="Видеокарта"
        data-model="Radeon RX 570 8192Mb ARMOR"
        data-vendor="MSI"
        data-price="5855"
        data-articul="RX 570 ARMOR 8G"
        data-category-name="Видеокарты"
        data-stock="1"
        itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
>


<style>
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}
</style>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-lg-12 my-3">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-info" id="list">
                        List View
                    </button>
                    <button class="btn btn-info" id="grid">
                        Grid View
                    </button>
                </div>
            </div>
        </div>
    </div> 
    <div id="products" class="row view-group">
        {% for product in products %}
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img src="{% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" width="200" height="200" alt="lorem">
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                {{product.name}}</h4>
                            <p class="group inner list-group-item-text">
                                Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        $21.000</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
</div>
<script>
$(document).ready(function() {
            $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
            $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
        });
</script>


<div class="container">
    <div class="row">
        <div class="col-12">
            Tags| <strong>
            {% for tag in produts.tags.all %}
            <a href="/shop/tag/{{tag.id}}"> {{ tag.name }}</a> |
            {% endfor %}
            </strong>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
  <thead>
    <tr>
        <th>Фото</th>
        <th>Бренд</th>
        <th>Название</th>
        <th>Артикул</th>
        <th>Нали- чие</th>
        <th>Цена</th>
        <th>В корзину</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for product in products %}
    <tr id="">
        <td>
            <a class="item_img"><img src="{% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="lorem">
        </td>
            <td>
            {{ product.vendor }}
        </td>
            <td>
                <a href="{% url 'shop:show_category' product.get_absolute_url %}" id="name">{{ product.name }}

        </td>
            <td>
            {{ product.vendor_code }}
        </td>
            <td>
                <img src="{% static "img/existence_1.png" %}">
        </td>
            <td>
                {{ product.price_uah }}
        </td>
            <td>
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ cart_product_form.quantity }}
                {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
            </form> 

        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

        </div>
    </div>
</div>

<hr>
{% endblock %}