{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% load paginator_filter %}
{% load i18n %}

{% block head %}
    <title>{{instance.name}} Список товаров</title>
    <meta name="title" content="{{instance.name}} - купить в Николаеве и Украине">
    <meta name="description" content="{{instance.name}} - Купить в Николаеве, интернет-магазин Ортен ★ Ортен более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'shop:product_list' %}">Товары</a></li>
    {% for i in instance.get_anc %}
        {% if i.product.count %}
		    <li>{{ i.name }}</li>
		{% else %}
		    <li><a href="{% url 'shop:child_category' i.slug %}">{{ i.name }}</a></li>
	    {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    <section class="main-container">
        {% include 'include/side_filters_include.html' %}
        <main>
            <div class="header-for-block">
                <i class="fab fa-product-hunt"></i>Товары
            </div>
            <div class="card-grid">
                {% for item in object_list %}
                <script type="application/ld+json">
                    {% include "include/main_card_include.json" %}
                </script>
                    {% include "include/main_card_include.html" %}
                {% endfor %}
            </div>
        </main>
    </section>
    {% if is_paginated %}
        {% include "include/pagination.html" %}
    {% endif %}
{% endblock %}