{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% load paginator_filter %}
{% load i18n %}

{% block head %}
    <title>{{instance.name}} Список товаров</title>
    <meta name="title" content="{{instance.name}} - купить в Николаеве и Украине">
    <meta name="description" content="{{instance.name}} - Купить в Николаеве, интернет-магазин Ортен ★ Ортен более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'shop:product_list' %}">Товары</a></li>
    {% for i in instance.get_anc %}
        {% if i.product.count %}
		    <li>{{ i.name }}</li>
		{% else %}
		    <li><a href="{% url 'shop:list_category' i.slug %}">{{ i.name }}</a></li>
	    {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
<section>
    {% include 'include/filters.html' %}
    <article>
        <div class="hd_content">
            <i class="fab fa-product-hunt"></i>Товары
        </div>
            <div class="content">
                <div class="product_list">
                    <span class="s">Фото</span>
                    <span class="s">Бренд</span>
                    <span class="s">Название</span>
                    <span class="s">Артикул</span>
                    <span class="s"></span>
                    <span class="s">Цена ₴</span>
                    <span class="s">В корзину</span>
                    <!-- динамический контент -->
                    {% for item in object_list %}
                    <script type="application/ld+json">
                        {% include "include/list_product.json" %}
                    </script>
                        {% include "include/product_list.html" %}
                    {% endfor %}
                </div>
            </div>
    </article>
    {% if is_paginated %}
        {% include "include/pagination.html" %}
    {% endif %}
</section>
{% endblock %}