{% extends 'base.html' %}
{% load bootstrap4 %}
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
{% block breadcrumbs %}
{{ block.super }}
    {% for i in category.get_anc %}
           »  <a href="/category/{{ i.get_absolute_url }}">{{ i.name }}</a>
    {% endfor %}
{% endblock %}
      </div>
    </div>
</div>


{% load static %}
{% load mptt_tags %}
{% block content %}

<title>Orten - Category All</title>

<div class="container-fluid">
<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">

      <div class="card-header text-bleck text-uppercase"><i class="fa fa-list"></i> Categories</div>
      {% for item in category_all.get_ancestors %}
      <a class="list-group-item list-group-item-action" id="list-{{item.slug}}-list" data-toggle="list" href="#list-{{item.slug}}" role="tab" aria-controls="{{item.slug}}">{{item.name}}</a>
      {% endfor %}
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="card-header text-bleck text-uppercase"><i class="fas fa-list"></i>  List Category </div>
      {% for item in category_all.get_descendants %}
      <div class="tab-pane fade" id="list-{{item.slug}}" role="tabpanel" aria-labelledby="list-{{item.slug}}-list">
     {{item.get_children}}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" id="sidebar">
                      <div class="list-group panel">
          <a href="#menu2" class="list-group-item">Menu-1</a>

            <div class="list-group panel">
          <a href="#menu2" class="list-group-item" data-toggle="collapse" data-parent="#sidebar">Menu-2</a>
          <div class="collapse" id="menu2">

              <a href="#menu1sub1" class="list-group-item" data-toggle="collapse">SubMenu-1 <i class="fa fa-caret-down"></i></a>
              <div class="collapse" id="menu1sub1">
              
                  <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse">Subitem 3 c <i class="fa fa-caret-down"></i></a>
                  <div class="collapse" id="menu1sub1sub1">
                      <a href="#" class="list-group-item">Subitem 3 c - item 1</a>
                  </div>
                  
              </div>
              <a href="#" class="list-group-item" data-parent="#menu1">SubMenu-2</a>
              <a href="#" class="list-group-item" data-parent="#menu1">SubMenu-3</a>
                
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
