{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% load paginator_filter %}
{% block head %}
        <title>{{instance.name}}</title>
    <meta name="title" content="{{instance.name}} - купить в Николаеве и Украине">
    <meta name="description" content="{{instance.name}} - Купить в Николаеве, интернет-магазин Ортен ★ Ортен более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}<li><a href="{% url 'shop:product_list' %}">Товары</a><i class="fas fa-chevron-right pl-1"></i></li>
      {% for i in instance.get_anc %}
          <li><a href="{% url 'shop:list_category' i.get_absolute_url %}">{{ i.name }}</a><i class="fas fa-chevron-right pl-1"></i></li>
      {% endfor %}
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Фильтры  -->
    <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-3">
      <div class="card bg-light mb-3">
        <article class="card-group-item">
            <header class="card-header text-bleck text-uppercase">
              <h6 class="title"><i class="fas fa-filter pr-3"></i>фильтры</h6>
            </header>
            <div class="filter-content">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                  <!-- filter price -->
                    <label>Min</label>
                  <form action="" method="get">
                      {% bootstrap_field filter.form.price__gt placeholder="0" show_label=False %} 
                  </div>
                    <div class="form-group col-md-6 text-right">
                      <label>Max</label>
                        {% bootstrap_field filter.form.price__lt placeholder="10000" show_label=False %}
                    </div>
                    <div class="form-group col-md-12">
                    <!-- Category filter -->
                   
                        {% bootstrap_field filter.form.category placeholder="Категория" show_label="Категория" %}
                      
                   
                    <!-- Vendor filter -->
                      {% bootstrap_field filter.form.vendor show_label=False%}
                    <!-- Typ_Product filter -->
                      {% bootstrap_field filter.form.type_product placeholder="Type Product" show_label=False%}
                      
                      {% bootstrap_field filter.form.format_fild placeholder="Format" show_label=True%}

                      {% bootstrap_field filter.form.color_fild placeholder="Color" show_label=True%}

                      <!-- Search for PN -->
                      {% comment %}
                           {% bootstrap_field filter.form.vendor_code placeholder="Поиск по Артикль" show_label=False%}
                      {% endcomment %}
                      <!--Кнопка -->
                        <button type="submit" class="btn btn-block btn-outline-success">Фильтр<i class="fab fa-get-pocket pl-2"></i></button>
                        <a class="btn btn-block btn-outline-danger" href="{% url 'shop:product_list' %}">Сброс<i class="fas fa-redo-alt pl-2"></i>
                        </a>
                    </div>
                  </form>
              </div>
            </div>
        </article>
      </div>
    </div>
    <!-- List Product  -->
    <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">
      <div class="card card bg-light">
        <div class="card-header text-bleck text-uppercase">
          <i class="fas fa-list mr-3"></i>{{instance.name}}
        </div>
          <div class="card-body">
              <div class="card-group">
                {% include "include/include_product_list.html" %}
              </div>
          </div>
      </div>
    </div>
  </div>
<hr>
</div>

<!-- Пагинатор  -->
<hr>
<div class="d-flex justify-content-center">
  <ul class="pagination">
    
    {% if products.has_previous %}
    <a href="?{% param_replace page=1 %}" title="1">First</a>
      <a href="?{% param_replace page=products.previous_page_number %}">&laquo;</a></li>
      <a href="?{%param_replace page=products.previous_page_number %}">{{ products.previous_page_number }}</a>
    {% endif %}

    {% for i in paginator.page_range %}
      {% if products.number == i %}
        <a class="active" href="#">{{ i }}</a>
      {% endif %}
    {% endfor %}
   
    {% if products.has_next %}
     <a href="?{%param_replace page=products.next_page_number %}">{{ products.next_page_number }}</a>
      <a href="?{% param_replace page=products.next_page_number %}">&raquo;</a>
      <a href="?{% param_replace page=paginator.num_pages %}" title="{{paginator.num_pages}}">Last</a>
    {% endif %}
      
  </ul>
</div>
{% endblock %}

{% comment %}
  <div class="d-flex justify-content-center">
  <ul class="pagination">
    <a href="?{% param_replace page=1 %}">First</a>
    {% if products.has_previous %}
      <a href="?{% param_replace page=products.previous_page_number %}">&laquo;</a></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if products.number == i %}
        <a class="active" href="#">{{ i }}</a>
      {% else %}
        <a href="?{%param_replace page=i %}">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <a href="?{% param_replace page=products.next_page_number %}">&raquo;</a>
    {% endif %}
      <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
  </ul>
</div>

Первая: {{products.start_index}} 
Пеоедидущая: {{products.previous_page_number}}
Текущаяя: {{products.number}}
Следующая: {{products.next_page_number}}
Последняя: {{products.end_index}}

{% endcomment %}