{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load flatpages %}
{% load i18n %}
{% block head %}
    <title>{{ object.flatpage.title }} - Печать в Николаеве</title>
    <meta name="title" content="{{ object.flatpage.title }} - Печать в Николаеве">
    <meta name="description" content="{{ object.flatpage.title }} - Печать в Николаеве ★ {{object.flatpage.description}} ★ Ортен более 20 лет опыта в производстве печатной продукции">
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'shop:category' %}">Категории</a></li>
    <li><a href="{% url 'shop:polygraphy' %}">Полиграфия</a></li>
    <li>{{object.flatpage.title}}</li>
{% endblock %}
{% block content %}
<section class="main-container">
	<aside>
		{% include "include/include_list_category.html" %}
	</aside>
    <main>
	    <div class="header-for-block"><i class="fas fa-list pr-3"></i>{{ object.flatpage.title }}</div>
        <div class="img">
            <img src="/static/shop/img/polygraphy/{{ object.slug }}.jpg" alt="{{ object.flatpage.title }}">
        </div>
        <div class="content-1">{{ object.flatpage.content|safe }}</div>
        <div>{{object.category}}</div>
        <div>{{object.name}}</div>
        <div>{{object.price}}</div>
        <div>{{object.format_fild}}</div>
    </main>
</section>
{% endblock %}
