{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load flatpages %}
{% load i18n %}
{% block head %}
    <title>Ортен - Полиграфические услуги в Николаеве</title>
    <meta name="title" content="Ортен - Полиграфические услуги в Николаеве">
        <meta name="description" content="Печать в Николаеве ★ Визитки ★ Календари ★ Флаера ★ Листовки ★ Буклеты Хенгеры ★ Плакаты ★ Папки  ★ Брошюры и каталоги ★ Блокноты ★ Конверты ★ Наклейки ★ Дисконтные карты ★ Тиражирование на ризографе ★ Цифровая печать
     ★ Ортен более 20 лет опыта в производстве печатной продукции">
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'shop:category' %}">Категории</a></li>
    <li>Полиграфия</li>
{% endblock %}
{% block content %}
    <section  class="main-container">
        <aside>
            {% include "include/include_list_category.html" %}
        </aside>
        <main >
            <div class="header-for-block"><i class="fas fa-th-large"></i>Список Категорий</div>
            <div class="card-grid">
                {% get_flatpages as flatpages %}
                {% for item in flatpages|dictsort:"id" %}
                <div class="card">
                    <a class="card__link" href="{% url 'shop:polygraphy_detail' item.id %}" title="{{item.title}}">
                        <div class="card__img">
                            <img class="card-img-top"
                            src="{% if item.polygraphy.image %}{{ item.polygraphy.image.url }} {% else %}
                            {% static "img/no_image.png" %}{% endif %}" alt="{{item.name}}">
                        </div>
                        <h2 class="card__name title-h2 card--text-centr">{{item.title}}</h2>
                    </a>
                </div>
                {% endfor %}
            </div>
        </main>
    </section>
{% endblock %}
