{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load flatpages %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'shop:category' %}">Категории</a><i class="fas fa-chevron-right pl-1"></i></li>
        <li><a href="{% url 'shop:polygraphy' %}">Полиграфия</a><i class="fas fa-chevron-right pl-1"></i></li>
        <li><a href="#">{{instance.flatpage.title}}</a></li>
{% endblock %}

{% block content %}
{{ instance.flatpage.content|safe }}

{% endblock %}


{% comment %}
	<li><a href="{% url 'shop:polygraphy_detail' instance.flatpage.id%}">{{ instance.flatpage.title }}</a><i class="fas fa-chevron-right pl-1"></i></li>
        <li><a href="#">{{instance.flatpage.title}}</a></li>
{% endcomment %}