{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load flatpages %}
{% block head %}
    <title>Ортен - Полиграфические услуги в Николаеве</title>
    <meta name="title" content="Ортен - Полиграфические услуги в Николаеве">
        <meta name="description" content="Печать в Николаеве ★ Визитки ★ Календари ★ Флаера ★ Листовки ★ Буклеты Хенгеры ★ Плакаты ★ Папки  ★ Брошюры и каталоги ★ Блокноты ★ Конверты ★ Наклейки ★ Дисконтные карты ★ Тиражирование на ризографе ★ Цифровая печать
     ★ Ортен более 20 лет опыта в производстве печатной продукции">
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'shop:category' %}">Категории</a><i class="fas fa-chevron-right pl-1"></i></li>
        <li><a href="{% url 'shop:polygraphy' %}">Полиграфия</a><i class="fas fa-chevron-right pl-1"></i></li>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Блок Категорий -->
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <div class="card bg-light">
                <article class="card-group-item">
                    <header class="card-header text-bleck text-uppercase">
                        <h6 class="title"><i class="fa fa-list pr-3"></i>Категории</h6>
                    </header>
                    <div class="card-body p-0">
                        {% include "include/include_list_category.html" %}
                    </div>
                </article>
            </div>
        </div>
        <!-- Блок Карт категорий  -->
        <div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9">
            <div class="card bg-light">
                <article class="card-group-item">
                    <header class="card-header text-bleck text-uppercase">
                        <h6 class="title"><i class="fas fa-list pr-3"></i>список Категорий</h6>
                    </header>
                        <div class="card-group">
                            {% get_flatpages as flatpages %}
                            {% for item in flatpages|dictsort:"id" %}
                                     <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3 p-2">
                                        <div class="card  h-100">
                                            <a href="{% url 'shop:polygraphy_detail' item.id %}"><img class="card-img-top" src="{% if item.polygraphy.image %}{{ item.polygraphy.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" alt="{{item.name}}" width="230" height="230"></a>
                                                <div class="card-footer d-flex justify-content-center bg-transparent">
                                                    <div class="row">
                                                        <a class="text-muted" href="{% url 'shop:polygraphy_detail' item.id %}" title="{{item.title}}">{{item.title}}</a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                        </div>
                </article>
            </div>
        </div>
    </div>
    <hr>
</div>

{% endblock %}

