{% extends 'shop/categories.html' %}
{% block breadcrumbs %}
{{ block.super }} » {{instance.name}}
{% endblock %}

{% load static %}
{% block content %}
<p>
Tags| <strong>
{% for tag in instance.tags.all %}
<a href="/shop/tag/{{tag.id}}"> {{ tag.name }}</a> |
{% endfor %}
</strong>
</p>

<div class="container">
    <div class="row">
        <div class="col-xs-4 item-photo">
           <img style="max-width:100%;" src="{% if instance.image %}{{ instance.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" />
                </div>
            <div class="col-md-7">
                <div class="product-title">{{ instance.name }}</div>
                <hr>
                <div class="instance-desc">{{ instance.keywords }}</div>
                <hr>
                <div class="instance-price">{{ instance.price_uah }}</div>
                <hr>
                <div class="instance-stock">Доступен к заказу</div>
                <hr>
                <div class="btn-group cart">
                 <form action="{% url "cart:cart_add" instance.id %}" method="post">
                {{ cart_product_form }}
                 {% csrf_token %}
                   <input type="submit" value="Добавить в корзину">
</form>
                </div>
                <div class="btn-group wishlist">
                    <button type="button" class="btn btn-danger">
                        Add to wishlist
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ul id="myTab" class="nav nav-tabs nav_tabs">
            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">instance INFO</a></li>
            <li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">
                <class="container instance-info">
                    {{ instance.description|linebreaks }}
            </div>
            <div class="tab-pane fade" id="service-two">
                <section class="container">
                </section>
            </div>
            <div class="tab-pane fade" id="service-three">
            </div>
        </div>
        <hr>
    </div>
</div>
</div>
</div>


{% endblock %}