{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <title>{{ object.name }}</title>
    <meta name="title" content="{{object.name}} - купить в Николаеве и Украине">
    <meta name="description" content="{{object.name}} - {{object.price}} грн. - купить в Николаеве и Украине ★ {{object.description}} ★ Более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'shop:product_list' %}">Товары</a></li>
    {% for i in object.category.get_anc %}
        {% if i.product.count %}
		    <li><a href="{% url 'shop:product_list' %}?category={{i.id}}">{{ i.name }}</a></li>
		{% else %}
		    <li><a href="{% url 'shop:child_category' i.slug %}">{{ i.name }}</a></li>
		{% endif %}
    {% endfor %}
        <li>{{object.name}}</li>
{% endblock %}

{% block content %}
    <div class="product">
        <script type="application/ld+json">
            {% include "include/product_detail.json" %}
        </script>
        <div class="product__head">
            {% if object.action %}
            <h2>Акция до {{object.end_action|date:"d.m.y"}}</h2>
            {% endif %}
            <h1>{{ object.name }}</h1>
        </div>
        <div class="product__img">
            <img style="max-width:100%;" src="{% if object.image %}{{ object.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" alt="{{object.name}}" title="{{object.name}}">
        </div>
        <div class="product__feature">
            <div class="specification">
                <p class="space-between">
                    <span>Артикул:</span>
                    <span>{{ object.vendor_code }}</span>
                </p>
                <p class="space-between">
                    <span>Производитель:</span>
                    <span>{{object.vendor}}</span>
                </p>
                <p class="space-between">
                    <span>Тип товара:</span>
                    <span>{{object.type_product}}</span>
                </p>
                <div class="card__price">
                    {% if object.action %}
                        <p class="card--left-right">
                            <span>Цена:</span>
                            <span class="card--text-crossed">{{object.price}}</span>
                        </p>
                        <p class="card--left-right">
                            <span>Цена:</span>
                            <span class="card--red-text">{{object.discount}}</span>
                        </p>
                    {% else %}
                        <p class="card--left-right">
                            <span>Цена:</span><span class="card__price--text">{{object.price}}</span></p>
                    {% endif %}
                </div>
            </div>
            
            <ul class="space-between modal">
                <li><i class="far fa-credit-card"></i></li>
                <li><i class="fas fa-truck"></i></li>
                <li><i class="fas fa-phone"></i></li>
            </ul>
            
            {% if object.available %}
            
                <form class="space-between" action="{% url "cart:cart_add" object.id %}" method="post">
                    {% csrf_token %}
                    {{form.quantity}}
                    {{form.update}}
                    <button type="submit" class="apply">
                    <i style="padding-right:5px;" class="fa fa-shopping-cart"></i>Купить</button>
                </form>
            
            {% else %}
                <p style="color:red; text-align: center">
                    <span>
                            В данный момент этот товар отсутствует,
                            но Вы можете сделать заказ и
                            получить детальную информацию о возможности поставки.
                    </span>
                </p>
                <form class="space-between" action="{% url "cart:cart_add" object.id %}" method="post">
                    {% csrf_token %}
                    {{form.quantity}}
                    {{form.update}}
                    <button type="submit" class="apply">
                    <i style="padding-right:5px;" class="fa fa-shopping-cart"></i>Купить</button>
                </form>
            {% endif %}
        </div>
        {% if object.description or object.specifications%}
            <div class="product__description">
                <div class="descript">
                    {% if object.description %}
                        <strong>Краткое описание:</strong>
                        {{ object.description|linebreaks }}
                    {% endif %} 
                </div>
                <div class="spec">
                    {% if object.specifications %}
                        <strong>Характеристика:</strong>
                        {{ object.specifications|safe }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% comment %}
<div class="product_list accessories">
                {% for product in object.tags.similar_objects %}
                    <script type="application/ld+json">
                        {% include "include/list_product.json" %}
                    </script>
                    <span class="s-1"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="{{ product.name }}"></span>
                    <span class="s-2"><b>Бренд: </b>{{ product.vendor }}</span>
                    <span class="s-3"><b>Название: </b><a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a></span>
                    <span class="s-4"><b>Артикул: </b>{{ product.vendor_code }}</span>
                    <span class="s-5"><b>Наличие: </b>
                        {% if product.available %}
                            <i style="color:green;" class="fas fa-check"></i>
                        {% else %}
                            <i style="color:red;" class="fas fa-times"></i>
                        {% endif %}
                    </span>
                    <span class="s-6"><b>Цена: </b>
                        {% if product.action %}
                            <em style="text-decoration: line-through">{{ product.price }}</em>
                            <br>
                            <em style="color:#fc6251;">{{ product.discount }}</em>
                        {% else %}
                            {{ product.price }}
                        {% endif %}
                    </span>
                    <div class="foot_card_quantity s-7">
                        <form action="{% url "cart:cart_add" product.id %}" method="post">{% csrf_token %}
                        {{form.quantity}}
                        <button type="submit" class="plas"><i style="color:white" class="fa fa-shopping-cart"></i></button>
                        </form>
                    </div>
                    <div class="s-hr"><hr></div>
                {% endfor %}
            </div>
{% endcomment %}