{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <title>{{ object.name }}</title>
    <meta name="title" content="{{object.name}} - купить в Николаеве и Украине">
    <meta name="description" content="{{object.name}} - {{object.price}} грн. - купить в Николаеве и Украине ★ {{object.description}} ★ Более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'shop:service_list' %}">Сервис</a></li>
    {% for i in object.category.get_anc %}
        {% if i.services.count %}
		    <li><a href="{% url 'shop:service_list' %}?category={{i.id}}">{{ i.name }}</a></li>
		{% else %}
		    <li><a href="{% url 'shop:list_category' i.slug %}">{{ i.name }}</a></li>
		{% endif %}
    {% endfor %}
        <li>{{object.name}}</li>
{% endblock %}

{% block content %}
    <div class="product">
        <div class="product__head"><h1>{{ object.name }}</h1></div>
        <div class="product_img">
            <img style="max-width:100%;" src="{% if object.image %}{{ object.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" alt="{{object.name}}" title="{{object.name}}">
        </div>
        <div class="product__feature">
            <div class="specification">
                {% if object.vendor_code %}
                    <p class="space-between">
                        <span>Артикул:</span>
                        <span>{{ object.vendor_code }}</span>
                    </p>
                {% endif %}
                {% if object.vendor %}
                    <p class="space-between">
                    <span>Производитель:</span>
                    <span>{{object.vendor}}</span>
                    </p>
                {% endif %}
                {% if object.vendor_model %}
                    <p class="space-between">
                        <span>Модель:</span>
                        <span>{{ object.vendor_model }}</span>
                    </p>
                {% endif %}
                    <p class="space-between">
                        <span>Цена:</span>
                        <span>{{object.price}}</span>
                    </p>
            </div>
        </div>
        <div class="description">
            {% if object.description %}
            <div class="descript">
                <strong>Краткое описание:</strong>
                {{ object.description|linebreaks }}
                <br><hr>
            </div>
            {% endif %}
            {% if object.specifications %}
            <div class="spec">
                <strong>Характеристика:</strong>
                {{ object.specifications|safe }}
            </div>
            {% endif %}
        </div>
        <div class="accessories">
        </div>
    </div>
{% endblock %}
