{% extends 'shop/list_category.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% block head %}
    <title>{{ instance.name }}</title>
    <meta name="title" content="{{instance.name}} - купить в Николаеве и Украине">
    <meta name="description" content="{{instance.name}} - {{instance.price}} грн. - купить в Николаеве и Украине ★ {{instance.description}} ★ Более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% for i in instance.category.get_anc %}
        <li><a href="{% url 'shop:list_category' i.get_absolute_url %}">{{ i.name }}</a></li>
    {% endfor %}
        <li>{{instance.name}}</li>
    {% endblock %}
    {% block content %}
    <div class="product_detail">
            <div class="product_header"><h1>{{ instance.name }}</h1></div>
        	<div class="product_img">
                <img style="max-width:100%;" src="{% if instance.image %}{{ instance.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" alt="{{instance.name}}" title="{{instance.name}}">
            </div>
            <div class="feature">
                <div class="specification">
                    <p class="p_left">Артикул:</p>
                    <p class="p_right">{{ instance.vendor_code }}</p>
                    <br><hr>
                    <p class="p_left">Производитель:</p>
                    <p class="p_right">{{instance.vendor}}</p>
                    <br><hr>
                    <p class="p_left">Модель:</p>
                    <p class="p_right">{{ instance.vendor_model }}</p>
                    <br><hr>
                    <p class="p_left">Цена:</p>
                    <p class="p_right">{{instance.price}}</p>
                </div>
                <br><hr>
            </div>
            <div class="description">
                <div class="descript">
                    <strong>Краткое описание:</strong>
                    <p>
                        {{ instance.description|linebreaks }}
                    </p>
                    <br><hr>
                </div>
                <div class="spec">
                    <strong>Характеристика:</strong>
                    <p>
                        {{ instance.specifications|safe }}
                    </p>
                </div>
            </div>
            <div class="accessories">
            </div>
        </div>
    {%endblock%}