{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load mptt_tags %}
{% block head %}
    {{head}}
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}<li><a href="">ERROR 404</a></li>
{% endblock %}
{% block content %}
<title>Orten - ERROR 404</title>
<section>
  <aside style="position: relative;">
    <h1 style="color: red; font-size: 250%; margin: 0;transform: translate(-50%, -50%);position: absolute;top: 50%;left: 50%;"><span>Error 404</span></h1>     
  </aside>
  <article>
    <p style="text-align: center">Возможно, страница, которую вы ищете, не сущесвует, изменилось ее имя или временно недоступна из-за работ на сервере.</p>
    <p style="text-align: center">Можно венуться <a href="{% url 'shop:home' %}">На главную</a></p>
    <p style="text-align: center">Возвращайтесь к нам :)</p>
  </article>
</section>
{% endblock %}