{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load mptt_tags %}
{% block breadcrumbs %}
{{ block.super }}
	<li><a href="{% url 'shop:contact' %}">Кто мы</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-lg-2 col-xl-6 ">
			<p class="text-justify text-center text-uppercase h2">Кто мы</p>
			<hr>
ОРТЭН - РЕМОНТ И ПРОДАЖА КОПИРОВАЛЬНОЙ ТЕХНИКИ
ООО «ОРТЭН» было основано в 1996 году и прошло длительный путь от продажи и обслуживания электронных печатных машинок до работы с высокотехнологичной печатной техникой ведущих мировых производителей.

Сегодня наша компания - это авторизированный продавец копировальной техники, цифровых дупликаторов, принтеров RICOH, полноцветных и монохромных многофункциональных устройств (МФУ) Develop. И конечно же, купив у нас эту технику, Вы не останетесь без квалифицированной поддержки с нашей стороны. 

Так как любая техника со временем может выйти их строя и это может привести к потере значительных сумм, мы предоставляем квалифицированную поддержку и ремонт продаваемой нами техники. Специалисты нашего сервисного центра помимо опыта, который получили за годы работы, продолжают обучение у производителей техники, что подтверждается сертификатами таких компаний как:

Ricoh;
Gestetner;
Develop.
Так же мы будем рады помочь Вам в случае поломки компьютеров, принтеров, МФУ. Мы заправим и отреставрируем картриджи для лазерных принтеров.

Компанию делают ее клиенты. И за время нашей работы нам доверились многие компании и среди них есть крупные компании такие как:

ГП НПКГ«Зоря»-«Машпроект» - Один из мировых лидеров газотурбинного строения.
Сотрудничаем с 2007г.
Сфера сотрудничества: обслуживание и ремонт копировально-множительной техники формата А3 и инженерных систем формата А0
Нибулон - зерноторговая компания. 
Сотрудничаем с 2011 года. 
Сфера сотрудничества: обслуживание и ремонт копировально-множительной техники.
Николаевкоммундорпроект – проектно-изыскательный институт. 
Сотрудничаем с 2009г. 
Сфера сотрудничества: обслуживание и ремонт копировально-множительной техники формата А3 и А0.
"Николаевагропроект" - проектно-изыскательский институт.
Сотрудничаем с 2011 г.
Обслуживание и ремонт копировально-множительной техники формата А3 и А0
И конечно же мы всегда будем рады новым клиентам!
		</div>
		<div class="col-md-6 col-lg-2 col-xl-6 ">
			<p class="text-justify text-center text-uppercase h2">почему мы</p>
			<hr>

		</div>
	</div>
</div>
{% endblock %}