{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load mptt_tags %}
{% block breadcrumbs %}
{{ block.super }}
	<li><a href="{% url 'shop:contact' %}">Кто мы</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<p class="text-justify text-center text-uppercase h2">Кто мы</p>
			<hr>
			<div>ОРТЭН - РЕМОНТ И ПРОДАЖА КОПИРОВАЛЬНОЙ ТЕХНИКИ</div>
			<p><div>ООО «ОРТЭН» было основано в 1996 году и прошло длительный путь от продажи и обслуживания электронных печатных машинок до работы с высокотехнологичной печатной техникой ведущих мировых производителей.</div></p>
			<p><div>Сегодня наша компания - это авторизированный продавец копировальной техники, цифровых дупликаторов, принтеров RICOH, полноцветных и монохромных многофункциональных устройств (МФУ) Develop. И конечно же, купив у нас эту технику, Вы не останетесь без квалифицированной поддержки с нашей стороны. </div></p>
			<p>
				<div>Так как любая техника со временем может выйти их строя и это может привести к потере значительных сумм, мы предоставляем квалифицированную поддержку и ремонт продаваемой нами техники. Специалисты нашего сервисного центра помимо опыта, который получили за годы работы, продолжают обучение у производителей техники, что подтверждается сертификатами таких компаний как:</div>
				<ul>
					<li> Ricoh;</li>
					<li> Gestetner;</li>
					<li> Develop.</li>
				</ul>
			</p>
			<p>
				<div>Так же мы будем рады помочь Вам в случае поломки компьютеров, принтеров, МФУ. Мы заправим и отреставрируем картриджи для лазерных принтеров.</div>
			</p>
			<p>
				<div>Компанию делают ее клиенты. И за время нашей работы нам доверились многие компании и среди них есть крупные компании такие как:</div>
				<p>
					<ul>
						<li>
							ГП НПКГ«Зоря»-«Машпроект» - Один из мировых лидеров газотурбинного строения. Сотрудничаем с 2007г. Сфера сотрудничества: обслуживание и ремонт копировально-множительной техники формата А3 и инженерных систем формата А0
						</li>
						<li>
							Нибулон - зерноторговая компания. Сотрудничаем с 2011 года. Сфера сотрудничества: обслуживание и ремонт копировально-множительной техники.
						</li>
						<li>
							Николаевкоммундорпроект – проектно-изыскательный институт. Сотрудничаем с 2009г. Сфера сотрудничества: обслуживание и ремонт копировально-множительной техники формата А3 и А0.
						</li>
						<li>
							"Николаевагропроект" - проектно-изыскательский институт. Сотрудничаем с 2011 г. Обслуживание и ремонт копировально-множительной техники формата А3 и А0
						</li>
					</ul>
				</p>
			</p>
			<div>И конечно же мы всегда будем рады новым клиентам!</div>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<p class="text-justify text-center text-uppercase h2">почему мы</p>
			<hr>
			<p>
				<ul>
					<li>Не хочется хвастаться, но мы реально потрясные!</li>
					<li>Удобная работа с бюджетными организациями!</li>
					<li>Отсрочка платежей!</li>
					<li>Выполнения условий контракта даже в МИНУС для себя.</li>
					<li>Мы работаем для вас! Всегда!</li>
					<li>Приемлемые и конкурентные цены, а в некоторых категориях ниже вы не найдете.</li>
					<li>Для постоянных клиентов, удобная система скидок.</li>
				</ul>
			</p>
		</div>
	</div>
</div>
<hr>
{% endblock %}