<!DOCTYPE html>
{% load staticfiles %}
{% load sitetree%}
{% load mptt_tags %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-1">1</div>
    <div class="col-1">2</div>
    <div class="col-1">3</div>
    <div class="col-1">4</div>
    <div class="col-1">5</div>
    <div class="col-1">6</div>
    <div class="col-1">7</div>
    <div class="col-1">8</div>
    <div class="col-1">9</div>
    <div class="col-1">10</div>
    <div class="col-1">11</div>
    <div class="col-1">12</div>
  </div>
</div>
<hr>
  </head>
  <body>

<div class="container">
    <div class="row">
        <div class="col-2">LOGO</div>
        <div class="col-2">Discription - Logo</div>
        <div class="col-2">Search</div>
        <div class="col-2">CONTACT</div>
        <div class="col-2">LogIN</div>  
        <div class="col-2">
            {% with total_items=cart|length %}
    {% if cart|length > 0 %}
        <a href="{% url "cart:cart_detail" %}"> Cart </a>
            <p>Qt: {{ total_items }}
           Price: {{ total_items }}{{ cart.get_total_price_uah }}</p>
        </a>
     {% else %}
          Корзина пустая
    {% endif %}
{% endwith %}
        </div>

    </div>
</div>







<nav class="navbar navbar-expand-md top-nav">
    <div class="container">
          <a class="navbar-brand" href="#"><strong>Grafreez</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Prices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FAQ's</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>    
    </div>
</nav>

<hr>

<div class="container">
    <div class="row">
      <div class="col-12">
                {% block breadcrumbs %}
    <a href="/">Shop</a>
{% endblock %}
      </div>
    </div>
</div>




    <!-- ------------------------------------Section 2 4 5 6 START-->

    {% block content %}
    {{content}}
    {% endblock %}
    
    <!-- -------------------------------------Sectcion 2 4 5 6 END-->

<style>
    body {
  padding: 40px;
  max-width: 960px;
  margin: auto;
}

.container {
  overflow: hidden;
}

.column {
  box-sizing: border-box;
  float: left;
  width: 50%;
}



.col-3 {
  border-left: 1px solid;
  margin-left: -1px;
  padding-left: 20px;
}

.column p:first-child {
  margin-top: 0;
}

</style>

<div class="container">
    <hr>
    <div class="row">
        <div class="col-3">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, voluptatibus, sunt. Excepturi consequuntur mollitia, tempore sit vel, maxime aliquid reiciendis saepe aperiam laboriosam aliquam, neque temporibus cum voluptatum. Consequatur, commodi.</div>
        </div>
        <div class="col-3">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sunt eos laudantium enim, est assumenda inventore iure repellat facere neque praesentium aperiam nemo vero labore aspernatur atque? Ipsa, voluptatum, blanditiis.</div>
        </div>
        <div class="col-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1361.720638744628!2d32.03841690959814!3d46.95301928698204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c5cbbad43f6f6d%3A0x4784e49173525ad2!2z0J7RgNGC0Y3QvSwg0J7QntCe!5e0!3m2!1sru!2sua!4v1545424552649" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <hr>
</div>



</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}">
</html>