{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load mptt_tags %}
{% block breadcrumbs %}
{{ block.super }}
	<li><a href="{% url 'shop:contact' %}">Контакты</a><i class="fas fa-chevron-right pl-1"></i></li>
{% endblock %}

{% block content %}
<title>Контакты</title>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-lg-2 col-xl-6">
			<p class="text-justify text-center text-uppercase h2">Контакты</p>
			<hr>
			<!-- <p class="text-justify text-center text-uppercase">Продажи</p> -->
			<p class="leftstr text-uppercase"><i class="fa fa-home pr-3"></i>Адрес:</p>
			<p class="rightstr">г. Николаев пр. Мира, 5</p>
			<div style="clear: left"></div>

			<p class="leftstr text-uppercase"><i class="fas fa-phone pr-3"></i></i>продажи:</p>
			<p class="rightstr">(0512) 56-65-39</p>
			<div style="clear: left"></div>

			<p class="leftstr text-uppercase"></p>
			<p class="rightstr">(0512) 58-32-60</p>
			<div style="clear: left"></div>

			<p class="leftstr text-uppercase"></p>
			<p class="rightstr">(050) 318-40-64</p>
			<div style="clear: left"></div>

			<p class="leftstr text-uppercase"><i class="fas fa-envelope pr-3"></i>Мылко:</p>
			<p class="rightstr">
				<a class="cool-link text-muted" href="mailto:orten_office@ukr.net">orten_office@ukr.net</a>
			</p>
			<br>
			<!--<p class="text-justify text-center text-uppercase">Сервис</p>-->
			<hr>
			<p class="leftstr text-uppercase"><i class="fas fa-phone pr-3"></i></i>Сервис:</p>
			<p class="rightstr">(0512) 56-65-51</p>
			<div style="clear: left"></div>

			<!--<p class="text-justify text-center text-uppercase">Полиграфия</p>-->
			<hr>
			<p class="leftstr text-uppercase"><i class="fas fa-phone pr-3"></i></i>полиграфия:</p>
			<p class="rightstr">(0512) 56-64-98</p>
			<div style="clear: left"></div>

			<p class="leftstr text-uppercase"></p>
			<p class="rightstr">(094) 943-57-50</p>
			<div style="clear: left"></div>

			<p class="leftstr text-uppercase"><i class="fas fa-envelope pr-3"></i>Мылко:</p>
			<p class="rightstr">
				<a class="cool-link text-muted" href="mailto:orten_poligraf@ukr.net">orten_poligraf@ukr.net</a>
			</p>
			<p class="text-justify text-center text-uppercase">ТрудоГрафик</p>
			<hr>
			<p class="leftstr text-uppercase"><i class="fas fa-clock pr-2"></i>Понедельник - Пятница</p>
			<p class="rightstr">9:00 - 18:00</p>
			<div style="clear: left"></div>

			<p class="leftstr text-uppercase"><i class="fas fa-clock pr-2"></i>Суббота</p>
			<p class="rightstr">9:00 - 14:00</p>
			<div style="clear: left"></div>

			<div style="clear: left"></div>
		</div>
		<div class="col-md-6 col-lg-2 col-xl-6 ">
			<p class="text-justify text-center text-uppercase h2">Где мы</p>
			<hr>
				<div class="map-responsive">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5446.935101617827!2d32.040273!3d46.952503!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4784e49173525ad2!2z0J7RgNGC0Y3QvSwg0J7QntCe!5e0!3m2!1sru!2sua!4v1547893952458" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
	</div>
</div>
<hr>
{% endblock %}