{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load mptt_tags %}
{% block head %}
    <title>Контакты компании Ортен</title>
    <meta name="title" content="Контакты компании Ортен">
    <meta name="description" content="Richo, Duplo, Konica Minolta, ColorWay - Купить в Николаеве, интернет-магазин Ортен ★ Ортен более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}
{% block breadcrumbs %}
{{ block.super }}
	<li><a href="{% url 'shop:contact' %}">Контакты</a></li>
{% endblock %}
{% block content %}
<section>
    <aside>
        {% include "include/include_list_category.html" %}
    </aside>
    <article>
            <div class="hd_content"><i class="fas fa-id-card-alt"></i>Контакты</div>
            <div class="content">
                <div class="flat_block"><div class="card_header">Контакты</div>
                <hr>
				<div class="contact">
					<p style="float:left"><i class="fas fa-clock pr-2"></i>График:</p>
					
					<p style="float:right;">Пн-Пт: 9:00 - 18:00</p>
					<br>
					<p style="float:right;">Сб: 9:00 - 14:00</p>
					<br>
					<p style="float:right;">Вс: Выходной</p>
					<br><hr>
					<p style="float:left"><i class="fa fa-home"></i>Адрес:</p>
					<span><p style="float:right">г. Николаев пр. Мира, 5</p></span>
					<br><hr>
					<p style="float:left"><i class="fas fa-phone"></i></i>Продажи:</p>
					<p style="float:right;">(0512) 56-65-39</p>
					<br>
					<p style="float:left"></p>
					<p style="float:right;">(0512) 58-32-60</p>
					<br>
					<p style="float:left"></p>
					<p style="float:right;">(050) 318-40-64</p>
					<br>
					<p style="float:left"><i class="fas fa-envelope"></i>Мылко:</p>
					<p style="float:right;"><a href="mailto:orten_office@ukr.net">orten_office@ukr.net</a></p>
					<br><hr>
					<p style="float:left"><i class="fas fa-phone"></i></i>Сервис:</p>
					<p style="float:right;">(0512) 56-65-51</p>
					<br><hr>
					<p style="float:left"><i class="fas fa-phone"></i></i>Полиграфия:</p>
					<p style="float:right;">(0512) 56-64-98</p>
					<br>
					<p style="float:right;">(094) 943-57-50</p>
					<br>
					<p style="float:left"><i class="fas fa-envelope"></i>Мылко:</p>
					<p style="float:right;"><a href="mailto:orten_poligraf@ukr.net">orten_poligraf@ukr.net</a></p>
					<br>
				</div>
        	</div>
        </article>
    </section>
{% endblock %}