{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% block head %}
    <title>Контакты компании Ортен</title>
    <meta name="title" content="Контакты компании Ортен">
    <meta name="description" content="Richo, Duplo, Konica Minolta, ColorWay - Купить в Николаеве, интернет-магазин Ортен ★ Ортен более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}
{% block breadcrumbs %}
{{ block.super }}
	<li>Контакты</li>
{% endblock %}
{% block content %}
<section class="main-container">
    <aside>
        {% include "include/aside_category_include.html" %}
    </aside>
    <main>
			<div class="header-for-block"><i class="fas fa-id-card-alt"></i>Контакты</div>
			<div class="card-grid">
					<div class="flat_block">
						<h3 class="card_header">Контакты</h3>
						<p class="space-between">
							<span><i class="fas fa-clock pr-2"></i>График:</span>
							<span>
								Пн-Пт: 9:00 - 18:00
								<br>
								Сб: 9:00 - 14:00
								<br>
								Вс: Выходной
								<span>
						</p>
						<p class="space-between">
							<span><i class="fa fa-home"></i>Адрес:</span>
							<span>г. Николаев пр. Мира, 5</span>
						</p>
						<p class="space-between">
							<span><i class="fas fa-phone"></i></i>Продажи:</span>
							<span>
								(0512) 56-65-39
								<br>
								(0512) 58-32-60
								<br>
								(050) 318-40-64
							</span>
						</p>
						<p class="space-between">
							<span><i class="fas fa-envelope"></i>Мылко:</span>
							<a href="mailto:orten_office@ukr.net">orten_office@ukr.net</a>
						</p>
						<p class="space-between">
							<span><i class="fas fa-phone"></i></i>Сервис:</span>
							<span>(0512) 56-65-51</span>
						</p>
						<p class="space-between">
							<span><i class="fas fa-phone"></i></i>Полиграфия:</span>
							<sapn>
								(0512) 56-64-98
								<br>
								(094) 943-57-50
							</sapn>
						</p>
						<p class="space-between">
							<sapn><i class="fas fa-envelope"></i>Мылко:</sapn>
							<a href="mailto:orten_poligraf@ukr.net">orten_poligraf@ukr.net</a>
						</p>
					</div>
			</div>
    </main>
    </section>
{% endblock %}