{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load mptt_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'shop:delivery_payment' %}">Доставка и оплата</a><i class="fas fa-chevron-right pl-1"></i></li>
{% endblock %}


{% block content %}


<title>Доставка и оплата</title>

<div class="container-fluid">
    <div class="row">

<b><h1>Оплата и Доставка</h1></b>
Доставка товара от компании «Ортэн» осуществляется несколькими способами для максимального удобства наших клиентов.

Варианты доставки:

Самовывоз. Менеджер компании «Ортэн» согласует с вами удобную для вас дату и время самовывоза.
Услуги службы доставки «Новая Почта». Оплата услуг доставки осуществляется за счет покупателя и не входит в стоимость товара.
Бесплатная доставка. Компания «Ортэн» доставит товар бесплатно по Николаеву при заказе от 3 000 гривен.
Компания «Ортэн» работает как с юридическими, так и с частными лицами. Потому оплата услуг компании может осуществляться несколькими вариантами на выбор.

Варианты оплаты:

Наличный расчет (ФОП Сіряков С.В.).
Безналичный расчет.
Гарантированный платеж.
Также вы можете оплатить заказ наложенным платежом либо внести предоплату.

После оформления заказа с вами свяжется менеджер и предоставит реквизиты для оплаты.

К товару прилагается стандартный пакет сопроводительных документов, которые удовлетворят требования и юридических лиц, и частных.

Вариант отправки заказа по Украине обсуждается в индивидуальном порядке. По всем вопросам доставки и оплаты обращайтесь по телефонам: (0512) 56-65-39, (0512) 58-32-60, (050) 318-40-64, а также пишите нам на e-mail: orten_office@ukr.net.

Мы всегда идем на встречу клиенту и ценим каждого!



    </div>
</div>

{% endblock %}