{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load mptt_tags %}
{% block head %}
    {{head}}
{% endblock %}
{% block breadcrumbs %}
{{ block.super }}
	<li><a href="{% url 'shop:delivery_payment' %}">Доставка и оплата</a></li>
{% endblock %}

{% block content %}
<title>Доставка и оплата</title>
<div class="container-fluid">
    <div class="row">
<!-- Блок Категорий -->
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <div class="card bg-light">
                <article class="card-group-item">
                    <header class="card-header text-bleck text-uppercase">
                        <h6 class="title"><i class="fa fa-list pr-3"></i>Категории</h6>
                    </header>

                    <div class="card-body p-0">
                        {% include "include/include_list_category.html" %}
                    </div>
                </article>
            </div>
        </div>
<!-- Блок Доставки и оплаты -->
        <div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-light">
                        <article class="card-group-item">
                            <div class="card-body bg-light">
                                <p class="text-justify text-center text-uppercase h4">Самовывоз</p>
                                <hr>
                                <div>Менеджер компании "Ортен" согласует с вами все нюансы, обговорит удобное для вас дату и время, соберет, подготовит, упакует заказанный вами товар.</div> 
                                <div>При сложностях или различного рода форс-мажорах вы будете уведомлены заранее</div>
                                <hr>
                                <strong>Бесплатная доставка. Компания «Ортэн» доставит товар бесплатно по Николаеву при заказе от 3 000 гривен.</strong>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card bg-light">
                        <article class="card-group-item">
                            <div class="card-body bg-light">
                                <p class="text-justify text-center text-uppercase h4">Доставка перевозчиком</p>
                                <hr>
                                <div>Для нас крайне удобно использовать перевозчика "Новая Почта". Это связано, прежде всего, с оперативность отправки малогабаритных и маловесных грузов.</div>
                                <div>В день поступления оплаты, будет осуществлена отправка. Конечно, если вам удобно принимать посылки от других перевозчиков, для нас это не есть проблема)</div>
                                <hr>
                                <div>Наш менеджер свяжется с вами, уточнить все необходимые данные (условия оплаты, доставки, сроки и даты) После оплаты товар собирают, упаковывают и передают на отделение перевозчика.</div>
                                <hr>
                                <strong>Оплата услуг доставки осуществляется за счет покупателя и не входит в стоимость товара.</strong>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="card bg-light">
                        <article class="card-group-item">
                            <div class="card-body bg-light">
                                <p class="text-justify text-center text-uppercase h4">оплата</p>
                                <hr>
                                <div>Компания «Ортэн» работает как с юридическими, так и с частными лицами. Потому оплата услуг компании может осуществляться несколькими вариантами на выбор.</div>
                                <hr>
                                <div><strong>Наличный расчет (ФОП Сіряков С.В.)</strong></div>
                                <div><strong>Безналичный расчет</strong></div>
                                <div><strong>Гарантированный платеж</strong></div>
                                <hr>
                                <div>Также вы можете оплатить заказ наложенным платежом либо внести предоплату</div>
                                <hr>
                                <div>После оформления заказа с вами свяжется менеджер и предоставит реквизиты для оплаты.</div>
                                <div>К товару прилагается стандартный пакет сопроводительных документов, которые удовлетворят требования и юридических лиц, и частных.</div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}