{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load mptt_tags %}
{% block head %}
    <title>Доставка и оплата товаров и услуг от компании Ортен</title>
    <meta name="title" content="Доставка и оплата товаров и услуг от компании Ортен">
    <meta name="description" content="Richo, Duplo, Konica Minolta, ColorWay - Купить в Николаеве, интернет-магазин Ортен ★ Ортен более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}
{% block breadcrumbs %}
{{ block.super }}
	<li>Доставка и оплата</li>
{% endblock %}
{% block content %}
<section  class="main-container">
    <aside>
        {% include "include/include_list_category.html" %}
    </aside>
    <main>
        <div class="header-for-block"><i class="fas fa-truck"></i>Доставка и оплата</div>
        <div class="card-grid">
            <div class="flat_block">
                <h3 class="card_header">САМОВЫВОЗ</h3>
                    <hr>
                    <div>
                        <p>
                                Менеджер компании "Ортен" согласует с вами все нюансы, обговорит удобное для вас дату и время, соберет, подготовит, упакует заказанный вами товар.
                                При сложностях или различного рода форс-мажорах вы будете уведомлены заранее
                        </p>
                        <hr>
                        <b>
                            Бесплатная доставка. Компания «Ортэн» доставит товар бесплатно по Николаеву при заказе от 3 000 гривен.
                        </b>
                    </div>
            </div>
            <div class="flat_block">
                <h3 class="card_header">ДОСТАВКА ПЕРЕВОЗЧИКОМ</h3>
                <hr>
                <div>
                    <p>
                            Для нас крайне удобно использовать перевозчика "Новая Почта". Это связано, прежде всего, с оперативность отправки малогабаритных и маловесных грузов.
                    </p>
                    <p>
                            В день поступления оплаты, будет осуществлена отправка. Конечно, если вам удобно принимать посылки от других перевозчиков, для нас это не есть проблема)
                    </p>
                    <hr>
                    <p>
                            Наш менеджер свяжется с вами, уточнить все необходимые данные (условия оплаты, доставки, сроки и даты) После оплаты товар собирают, упаковывают и передают на отделение перевозчика.
                    </p>
                    <hr>
                    <p>
                        <b>
                                Оплата услуг доставки осуществляется за счет покупателя и не входит в стоимость товара.
                        </b>
                    </p>
                </div>
            </div>
            <div class="flat_block">
                <h3 class="card_header">ОПЛАТА</h3>
                <hr>
                <div>
                    <p>
                            Компания «Ортэн» работает как с юридическими, так и с частными лицами. Потому оплата услуг компании может осуществляться несколькими вариантами на выбор.
                    </p>
                    <hr>
                    <p>
                    <b>Наличный расчет (ФОП Сіряков С.В.)</b>
                    </p>
                    <p>
                        <b>Безналичный расчет</b>
                    </p>
                    <p>
                        <b>Гарантированный платеж</b>
                    </p>
                    <hr>
                    <p>
                        Также вы можете оплатить заказ наложенным платежом либо внести предоплату
                    </p>
                    <hr>
                    <p>
                        После оформления заказа с вами свяжется менеджер и предоставит реквизиты для оплаты.
                        К товару прилагается стандартный пакет сопроводительных документов, которые удовлетворят требования и юридических лиц, и частных.
                    </p>
                </div>
            </div>
        </div>
    </main>
</section>
{% endblock %}