{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% load paginator_filter %}
{% load i18n %}
{% block head %}
    <title>{{instance.name}} Список товаров</title>
    <meta name="title" content="{{instance.name}} - купить в Николаеве и Украине">
    <meta name="description" content="{{instance.name}} - Купить в Николаеве, интернет-магазин Ортен ★ Ортен более 20 лет рынке копировальной техники и сервисного обслуживания">
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}<li><a href="{% url 'shop:product_list' %}">Товары</a></li>
      {% for i in instance.get_anc %}
          <li><a href="{% url 'shop:list_category' i.get_absolute_url %}">{{ i.name }}</a></li>
      {% endfor %}
{% endblock %}
{% block content %}
<section>
    <aside>
        <div class="hd_content"><i class="fas fa-filter"></i>Фильтры</div>
            <div class="accordion">
                <div class="filters">
                    <form action="" method="get">
                    <div class="min_max">
                        <input class="min" type="number" name="price__gt" step="any" id="id_price__gt" placeholder="Цена min - 0">
                        <input class="max" type="number" name="price__lt" step="any" id="id_price__lt" placeholder="Цена max - 1000">
                    </div>
                <div>
                    {{filterset.form.category}}
                </div>
                <div>
                    {{filterset.form.vendor}}
                </div>
                <div>
                    {{filterset.form.type_product}}
                </div>
                <div>
                    {{filterset.form.format_fild}}
                </div>
                <div>
                    {{filterset.form.color_fild}}
                </div>
                <div>
                    <label class="sr-only" for="search"></label>
                    <input type="text" autocomplete="on" value="{{search}}" name="search" class="search" placeholder="Search.." id="search">
                </div>
                      <!--Кнопка -->
                        <button type="submit" class="apply">Фильтр<i class="fab fa-get-pocket pl-2"></i></button>
                        <button class="reset" href="{% url 'shop:product_list' %}">Сброс<i class="fas fa-redo-alt pl-2"></i></button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </aside>
    <article>
        <div class="hd_content"><i class="fab fa-product-hunt"></i>Товары</div>
            <div class="content">
                <div class="product_list">
                    <span class="s"><strong>Фото</strong></span>
                    <span class="s"><strong>Бренд</strong></span>
                    <span class="s"><strong>Название</strong></span>
                    <span class="s"><strong>Артикул</strong></span>
                    <span class="s"><strong></strong></span>
                    <span class="s"><strong>Цена ₴</strong></span>
                    <span class="s"><strong>В корзину</strong></span>
                    <!-- динамический контент -->
                    {% for product in products %}
                    <script type="application/ld+json">
                        {% include "include/list_product.json" %}
                    </script>
                    <span class="s-1"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="{{ product.name }}"></span>
                    <span class="s-2"><b>Бренд: </b>{{ product.vendor }}</span>
                    <span class="s-3"><b>Название: </b><a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a></span>
                    <span class="s-4"><b>Артикул: </b>{{ product.vendor_code }}</span>
                    <span class="s-5"><b>Наличие: </b>
                        {% if product.available %}
                            <i style="color:green;" class="fas fa-check"></i>
                        {% else %}
                            <i style="color:red;" class="fas fa-times"></i>
                        {% endif %}
                    </span>
                    <span class="s-6"><b>Цена: </b>
                        {% if product.action %}
                            <em style="text-decoration: line-through">{{ product.price }}</em>
                            <br>
                            <em style="color:#fc6251;">{{ product.discount }}</em>
                        {% else %}
                            {{ product.price }}
                        {% endif %}
                    </span>
                    <span class="foot_card_quantity s-7">
                        <form action="{% url "cart:cart_add" product.id %}" method="post">{% csrf_token %}
                        {{cart_product_form.quantity}}
                        <button type="submit" class="plas"><i style="color:white" class="fa fa-shopping-cart"></i></button>
                        </form>
                    </span>
                    <div class="s-hr"><hr></div>
                    {% endfor %}
                </div>
    </article>
     <div>
    </div>
    <ul class="pagination">
        {% if products.has_previous %}
        <a href="?{% param_replace page=1 %}" title="1">First</a>
          <a href="?{% param_replace page=products.previous_page_number %}">&laquo;</a></li>
          <a href="?{%param_replace page=products.previous_page_number %}">{{ products.previous_page_number }}</a>
        {% endif %}

        {% for i in paginator.page_range %}
          {% if products.number == i %}
            <a class="active" href="#">{{ i }}</a>
          {% endif %}
        {% endfor %}
       
        {% if products.has_next %}
         <a href="?{%param_replace page=products.next_page_number %}">{{ products.next_page_number }}</a>
          <a href="?{% param_replace page=products.next_page_number %}">&raquo;</a>
          <a href="?{% param_replace page=paginator.num_pages %}" title="{{paginator.num_pages}}">Last</a>
        {% endif %}
  </ul>
</section>
{% endblock %}



{% comment %}
    <div itemtype="http://schema.org/Product" itemscope>
   <link itemprop="image" href="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="30" height="30" alt="{{ product.name }}"/>
    <meta itemprop="mpn" content="{{ product.vendor_code }}"/>
    <meta itemprop="name" content="{{product.name}}"/>
    <div itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
        <link itemprop="url" href="{% url 'shop:product_detail' product.slug %}" /> 
        {% comment %} "{% url 'shop:product_detail' product.slug %}"
        <meta itemprop="availability" content="https://schema.org/InStock" />
        <meta itemprop="priceCurrency" content="UAH" />
        <meta itemprop="itemCondition" content="https://schema.org/UsedCondition" />
        <meta itemprop="price" content="{{ product.price }}" />
          {% comment %}
              <meta itemprop="priceValidUntil" content="2020-11-05" />
          
        <meta itemprop="sku" content="{{ product.vendor_code }}" />
    </div>
    <div itemprop="brand" itemtype="http://schema.org/Thing" itemscope>
      <meta itemprop="name" content="{{ product.vendor }}" />
    </div>
</div>
{% endcomment %}

