{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
{% for product in products %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" >
                    <h4 class="text-center"><span class="label label-info">{{ product.vendor_code }}</span></h4>

                    <img src="{% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" width="189" height="255" alt="lorem">

                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">

                                <h3>{{ product.name }}</h3>

                            </div>
                            <div class="col-md-6 col-xs-6 price">

                                <p>price_purchase = {{ product.price_purchase }} usd</p>
                                <p>price_uah = {{product.price_uah}} uha</p>
                                

                            </div>
                        </div>
                        <p>{{product.description}}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a> 
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
                        </div>

                        <p> </p>
                    </div>
                </div>
            </div>
{% endfor %}

        </div>
    </div>
</div>
<div
    class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-wrapper"
    data-slug="Fotobaraban_Brother_HL-2130_2240_2250_2270_Print_Pro_OPCB2240-p174340"
    data-name="Фотобарабан PrintPro Brother HL-2130/2240/2250/2270 (OPCB2240)"
    data-class="104"
    data-code="U0106323"
    data-pid="174340"
    data-class-name="Фотобарабан"
    data-model="Brother HL-2130/2240/2250/2270"
    data-vendor="PrintPro"
    data-price="112"
    data-articul="OPCB2240"
    data-category-name="Фотобарабаны"
    data-stock="1"
    itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
>
    <div class="br-pp br-pp-ex goods-block__item" data-pid="174340">
        <div class="br-pcv-block">
                                </div>
        <div class="br-pp-top">
                                                            
                                                    </div>
        <div class="br-pp-img">
            <a itemprop="url" href="/ukr/Fotobaraban_Brother_HL-2130_2240_2250_2270_Print_Pro_OPCB2240-p174340.html">
                <img itemprop="image" src="https://brain.com.ua/static/images/prod_img/2/3/U0106323.jpg" alt="Фотобарабан PrintPro Brother HL-2130/2240/2250/2270 (OPCB2240)" title="Фотобарабан PrintPro Brother HL-2130/2240/2250/2270 (OPCB2240)  > ціни в Києві та Україні" onerror="this.src='https://brain.com.ua/static/images/no-photo.png'">
                            </a>
            <div>
                                            </div>
        </div>
                <div class="br-static">
            <div class="br-pp-rc">
                <div class="br-pp-r">
                    <span>
                                                                                    <img src="https://brain.com.ua/static/images/star-g.svg" alt="img">
                                                                                                                <img src="https://brain.com.ua/static/images/star-g.svg" alt="img">
                                                                                                                <img src="https://brain.com.ua/static/images/star-g.svg" alt="img">
                                                                                                                <img src="https://brain.com.ua/static/images/star-g.svg" alt="img">
                                                                                                                <img src="https://brain.com.ua/static/images/star-g.svg" alt="img">
                                                                        </span>
                    <span>0.0</span>
                </div>
                <div class="br-pp-c">
                    <a href="/ukr/Fotobaraban_Brother_HL-2130_2240_2250_2270_Print_Pro_OPCB2240-p174340.html#review">
                        <span>0 відгуків</span>
                    </a>
                </div>
            </div>
            <h3>
                <a itemprop="url" href="/ukr/Fotobaraban_Brother_HL-2130_2240_2250_2270_Print_Pro_OPCB2240-p174340.html">
                    Фотобарабан PrintPro Brother HL-2130/2240/2250/2270 (OPCB2240)
                </a>
            </h3>
            <div class="br-pp-pb">
                <div class="br-pp-price">
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                        <span itemprop="price">112</span>
                        <span class="data_io hidden">4,06149</span>
                        <span itemprop="priceCurrency" content="UAH">грн</span>
                                    </div>
                            </div>
                        <div class="br-pp-bu">
                                    <span>
                        +2 BRAIN UP
                    </span>
                    <span></span>
                            </div>
                        <div class="br-bb-b">
                <div class="br-bb-buy">
                                            <a href="#" class="add br-bbb-f"
                            data-pid="174340"
                            data-name="Фотобарабан PrintPro Brother HL-2130/2240/2250/2270 (OPCB2240)"
                            data-price="112"
                            data-brand="PrintPro"
                            data-category-name="Фотобарабаны"
                            >
                            <span>Купити</span>
                        </a>
                                    </div>
                                            </div>
        </div>
        <div class="br-pp-ifc">
            <div class="br-pp-i">
                Brother, Brother DCP-7060, Brother DCP-7065, Brother HL-2132, Brother HL-2240, Brother HL-2250, Brother MFC-7360NR, Brother MFC-7860DWR
            </div>
        </div>
    </div>
</div>
{% endblock %}