{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
{% for product in products %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" >
                    <h4 class="text-center"><span class="label label-info">{{ product.vendor_code }}</span></h4>

                    <img src="{% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" width="189" height="255" alt="lorem">

                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">

                                <h3>{{ product.name }}</h3>

                            </div>
                            <div class="col-md-6 col-xs-6 price">

                                <p>price_purchase = {{ product.price_purchase }} usd</p>
                                <p>price_uah = {{product.price_uah}} uha</p>
                                

                            </div>
                        </div>
                        <p>{{product.description}}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a> 
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
                        </div>

                        <p> </p>
                    </div>
                </div>
            </div>
{% endfor %}

        </div>
    </div>
</div>
{% endblock %}