{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}<li><a href="#">Заказ</li></a>
{% endblock %}
{% load bootstrap4 %}
{% block title %}
  Оформление заказа
{% endblock %}
{% block content %}
<section>
	<aside>
        <div class="hd_content"><i class="fab fa-wpforms pr-3"></i>Заполнить Форму</div>
        <div class="accordion">
            <form class="order-form" action="." method="post">
                {% bootstrap_field form.delivery_method show_label=False%}
                {% bootstrap_field form.pay_method show_label=False%}
                {% bootstrap_field form.city show_label=False%}
                {% bootstrap_field form.first_name show_label=False%}
                {% bootstrap_field form.last_name alert_type='warning' show_label=False%}
                {% bootstrap_field form.email show_label=False%}
                {% bootstrap_field form.mobile_phone show_label=False%}
                {% bootstrap_field form.note_text show_label=False%}
                {% csrf_token %}
                <button type="submit" class="apply">Отправить<i class="fab fa-get-pocket pl-2"></i></button>
            </form>
        </div>
    </aside>
    <article>
	    <div class="hd_content"><i class="fas fa-truck pr-3"></i>Ваш Заказ</div>
	    <div class="content">
            <div class="cart_list">
                <span class="s"><strong>Фото</strong></span>
                <span class="s"><strong>Бренд</strong></span>
                <span class="s"><strong>Название</strong></span>
                <span class="s"><strong>Артикул</strong></span>
                <span class="s"><strong>Цена ₴</strong></span>
                <span class="s"><strong>Количество</strong></span>
                <span class="s"><strong>Сумма</strong></span>
                <span class="s"><strong>Удалить</strong></span>
                <!-- динамический контент -->
                {% for item in cart %}
                {% with product=item.product %}
                <span class="s-1"><a class="thumbnail pull-left" href="{% url 'shop:product_detail' product.slug %}"> <img src="{% if product.image %}{{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" style="width: 72px; height: 72px;"></a></span>
                <span class="s-2"><b>Бренд: </b>{{ product.vendor }}</span>
                <span class="s-3"><b>Название: </b><a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a></span>
                <span class="s-4"><b>Артикул: </b>{{ product.vendor_code }}</span>
                <span class="s-6"><b>Цена: </b>
                {% if product.action %}
                    {{ product.discount }}
                {% else %}
                    {{ product.price }}
                {% endif %}
                </span>
                <span><b>Количество: </b>{{ item.quantity }}</span>
                <span class="s-2"><b>Сумма: </b>{{ item.total_price }}</span>
                <span class="s-2"><b>Удалить: </b>
                <button class="minus"><a href="{% url 'cart:cart_remove' product.id %}"><i style="color:white;" class="fas fa-trash-alt"></i></a></button>
                </span>
                {% endwith %}
                {% endfor %}
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span>Общая сумма: </span>
                <span><h4>{{ cart.get_total_price }}</h4></span>
            </div>
	    </div>    
	</article>
</section>
{% endblock %}