<!DOCTYPE html>
<html lang="ru">
{% load static %}
<body>

Уважаемый <strong>{{order.first_name}}</strong> 
<p> Вы успешно сделали заказ на нашем сайте <a href="https://orten.in.ua/" id="name"> orten.in.ua </a>
<p>Номер вашего заказа {{order.id}} </p>

<table class="table">
  <thead>
    <tr>
        <th>Продукт</th>
        <th>Цена</th>
        <th>Количесво</th>
        <th>Сумма</th>
    </tr>
  </thead>

{% for item in order.items.all %}
  <tbody>
    <tr>

        <td>
         <a href="http://orten.in.ua{% url 'shop:product_detail' item.product.slug %}">{{ item.product.name }}</a>
        </td>

        <td>
          {{ item.price }}
        </td>

        <td>
          {{item.quantity }}
        </td>

        <td>
          {{ item.get_cost }}
        </td>
    </tr>
{% endfor %}
<hr>
    <tr class="total">
          <td>
            Total
          </td>

          <td
             class="num">{{ order.get_total_cost }}
          </td>
    </tr>

  </tbody>
</table>


</body>
</html>